<div class="container">
    <h4>Current/Most Recent Course</h4>
    <p>Game developer course</p>
    <hr>
    <table class="table" >
        <tbody>
          <tr>
            <td style="width: 25%; border: none;">Institution:</td>
            <td style="border: none;">{{profile.profileDetails.companyName}}</td>
          </tr>
          <tr>
            <td style="border: none;">Department:</td>
            <td style="border: none;">{{profile.profileDetails.designation}}</td>
          </tr>
          <tr>
            <td style="border: none;">Institutional Roll No:</td>
            <td style="border: none;">{{profile.profileDetails.employeeCode}}</td>
          </tr>
        </tbody>
      </table>

</div>


