<!-- Resume-->

<div class="container ">

  <div class="row d-flex justify-content-center align-items-center mb-3">
    <div class="col-10">
        <h5 style="margin: 0;">My Resume</h5>
    </div>
    <div class="col-2 text-end">
        <button class="btn btn-primary btn-sm px-3 d-flex align-items-center justify-content-center rounded-5" style="font-size: 14px;" data-bs-toggle="modal" data-bs-target="#resumeModal" > <i class="bi bi-plus me-2" style="font-size: 1rem;"></i><span style="margin-right: 10px; font-size: 14px;">Add New</span> </button>
    </div>
</div>


  <div  class="card" style="width: 20rem; border-radius: 5px; padding: 10px;">

      <div class="card-body" style="padding: 0;">
          <div class="row d-flex align-items-center justify-content-between">

              <!-- Icon Section (left side) -->
              <div class="col-3  d-flex justify-content-center align-items-center" style="border-radius: 5px;">
                  <i class="bi bi-file-pdf" style="font-size: 2.5rem; color: #dc3545;"></i>
              </div>

              <!-- Content Section (middle) -->
              <div class="col" style="border-radius: 5px; margin-left: -20px;">
                  <div class="row" style="display: flex; flex-direction: column;">
                      <div class="col">
                          <p style="font-size: 14px; font-weight: bold; color: #333; white-space: nowrap; margin-bottom: 0;">SEEKER NAME</p>
                      </div>
                      <div class="col">
                          <p style="color: gray; font-size: 12px; white-space: nowrap; margin-bottom: 0;">Created 12:00pm 09 Dec 2024</p>
                      </div>
                  </div>
              </div>

              <!-- Action Icons Section (right side) -->
              <div class="col text-end d-flex align-items-center justify-content-center">
                  <i class="bi bi-download" style="font-size: 1.2rem; cursor: pointer; margin-right: 10px; color: #007bff;"></i>
              </div>
          </div>
      </div>

  </div>

  <p class="mt-5" style="font-size: 14px;">No resumes has been added yet.  </p>

</div>









<!-- Modal -->
<div class="modal fade" id="resumeModal" tabindex="-1" aria-labelledby="resumeModalLabel" aria-hidden="true">
    <div class="modal-dialog   modal-dialog-centered ">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-6 text-center" id="resumeModalLabel">Add Certificate</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
  
          <form [formGroup]="resumeForm" (ngSubmit)="saveResume()">

            <!-- Certificate Date -->
                <div class="col mt-3 mb-3">
                    <input type="file" id="resumeUpload" formControlName="resumeUpload"  class="form-control form-control-sm" placeholder="Resume Upload" required>
                    <small *ngIf="resumeForm.get('resumeUpload')?.hasError('required') && resumeForm.get('resumeUpload')?.touched" class="text-danger">Please uploadyour resume</small>
                </div>

                <div class="col">
                    <input type="text" id="resumeTitle" formControlName="resumeTitle"  class="form-control form-control-sm" placeholder="Resume Title" required>
                    <small *ngIf="resumeForm.get('resumeTitle')?.hasError('required') && resumeForm.get('resumeTitle')?.touched" class="text-danger">Resume Title is required.</small>
                </div>
    

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success"  [disabled]="resumeForm.invalid">Save</button>
        </div>
  
        </form>
        </div>
  
      </div>
    </div>
</div>





