<div class="container mt-5 mb-5 bg-body-tertiary">
  <p class="fw-semibold fs-5">Dashboard</p>

  <!-- cards display with count -->
  <div class="row  bg-warning p-3 mb-5">
      <!-- Card 1 -->
      <div class="col-4">
        <div class="card rounded-2 border-primary" style="cursor: pointer;">
          <div class="card-body px-5">
              <div class="row">
                  <div class="col-9 bg-info">
                      <h3 class="fs-5 text-body-emphasis">Job Posts Created</h3>
                      <p class="text-align-right fs-5 mt-4 mb-4">5</p>
                  </div>

                  <div class="col-3 bg-warning">
                      <div class="feature-icon d-flex align-items-center justify-content-center" style="margin-top: -10px;">
                          <i class="bi bi-cloud-arrow-up" style="font-size: 1.8rem;"></i>
                      </div>
                  </div>
              </div>
          </div>
        </div>

      </div>

      <!-- Card 2 -->
      <div class="col-4">
          <div class="card rounded-2 border-primary h-100" style="cursor: pointer;">
            <div class="card-body px-5 ">

                <div class="row ">
                    <div class="col-9 bg-info">
                        <h3 class="fs-5 text-body-emphasis">Jobs Applicants</h3>
                        <p class="text-align-right fs-5 mt-4 mb-4">5</p>
                    </div>

                    <div class="col-3 bg-warning">
                        <div class="feature-icon d-flex align-items-center justify-content-center" style="margin-top: -10px;">
                            <i class="bi bi-briefcase" style="font-size: 1.8rem;"></i>
                        </div>
                    </div>
                </div>

            </div>
          </div>
      </div>


      <!-- Card 3 -->

  </div>


   <!-- charts used to diaply project details -->
  <div class="row  mb-5">
      <div class="col-7">
        <div class="container border border-dark" style="height: 450px;">
          <p>Job Posts Statistics</p>
        </div>
      </div>

      <div class="col-5">
        <div class="container border border-dark" style="height: 450px;">
          <p>Job Applicant Statistics</p>
        </div>
      </div>
  </div>




</div>
