<app-talent-header></app-talent-header>


<div class="container">
  <div class="row justify-content-center" *ngIf="!isLoading">
    <div class="col-md-4">
      <div class="card centered-form mt-5">
        <div class="card-body justify-content-center">

          <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
            <div class="container">
              <h4 class="text-center mb-5">Password update</h4>
            </div>
            <!-- Email Input -->
            <div class="form-group row align-items-center mt-3">
              <input [ngClass]="{'is-invalid': changePasswordForm.get('oldPassword')?.invalid && changePasswordForm.get('oldPassword')?.touched}" placeholder="Old Password" id="oldPassword" formControlName="oldPassword" type="password" class="form-control" style="height: 45px; border-radius: 10px;" />
              <div *ngIf="changePasswordForm.get('oldPassword')?.touched">
                <small *ngIf="changePasswordForm.get('oldPassword')?.errors?.['required']" class="text-danger">Old password is required.</small>
                <small *ngIf="changePasswordForm.get('oldPassword')?.errors?.['pattern']" class="text-danger">Invalid Email format.</small>
              </div>
            </div>

            <!-- Create Password -->
            <div class="form-group row align-items-center mt-3">
              <input [ngClass]="{'is-invalid': changePasswordForm.get('newPassword')?.invalid && changePasswordForm.get('newPassword')?.touched}" placeholder="New Password" id="newPassword" formControlName="newPassword" autocomplete="new-password" type="password" class="form-control" style="height: 45px; border-radius: 10px;" />
              <div *ngIf="changePasswordForm.get('newPassword')?.touched">
                <small *ngIf="changePasswordForm.get('newPassword')?.errors?.['required']" class="text-danger">New Password is required.</small>
                <small *ngIf="changePasswordForm.get('newPassword')?.errors?.['pattern']" class="text-danger">Invalid Password format.</small>
              </div>
            </div>




            <!-- Buttons -->
            <div class="mt-5 text-center">
              <button type="submit" class="btn btn-primary w-100">Update</button>
            </div>



            <!-- Error Message for Invalid Form -->
            <div *ngIf="submitted && changePasswordForm.invalid" class="text-danger mt-3 text-center">
              {{ errorMessage }}
            </div>

            <!-- Existing error message for login failure -->
            <div *ngIf="errorMessage && !changePasswordForm.invalid" class="text-danger mt-3 text-center">
              {{ errorMessage }}
            </div>


          </form>




        </div>
      </div>

    </div>

  </div>



  <div class="row d-flex justify-content-center align-items-center spinner-wrapper" *ngIf="isLoading">
    <div class="text-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="mt-3">
        <p *ngIf="updateSuccess">Password updated successfully</p>
        <p *ngIf="!updateSuccess">Error updating the password</p>
      </div>
    </div>
  </div>


</div>
