<div class="container-fluid  d-flex justify-content-center align-items-center vh-100" style="background: #11131c;">

    <div class="col-md-4">
  
      <div *ngIf="!isLoading">
  
        <div class="card text-center" style="border:  1px solid rgba(0, 0, 255, 0.7); box-shadow: 0 0 10px 5px rgba(0, 149, 255, 0.7);  border-radius: 20px; -webkit-backdrop-filter: blur(15px);backdrop-filter: blur(15px); background: radial-gradient(circle, rgba(255, 255, 255, 0.274), #11131c); ">
  
          <div class="card-body p-5" style="border-radius: 15px;">
  
            <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1737024440/Logo_qboacm.svg" alt="" style="width: 100px; height: 100px;">
            <h4 class="text-white mt-5 mb-5">Change password</h4>

            <form [formGroup]="changePasswordForm">

                <div class="form-group row align-items-center mt-3">
                  <input [ngClass]="{'is-invalid': changePasswordForm.get('confirmOldPassword')?.invalid && (changePasswordForm.get('confirmOldPassword')?.touched || changePasswordForm.get('confirmOldPassword')?.dirty)}" placeholder="Enter old password" id="confirmOldPassword" formControlName="confirmOldPassword" type="text" class="form-control" style="height: 45px; border-radius: 10px;" />
                  <div *ngIf="changePasswordForm.get('confirmOldPassword')?.touched">
                    <small *ngIf="changePasswordForm.get('confirmOldPassword')?.errors?.['required']" class="text-danger" style="font-size: 13px;">Old Password is required.</small>
                    <small *ngIf="changePasswordForm.get('confirmOldPassword')?.errors?.['pattern']" class="text-danger">Invalid format. Must start with a capital letter.</small>
                  </div>
                </div>
  
                <div class="form-group row align-items-center mt-3">
                  <input [ngClass]="{'is-invalid': changePasswordForm.get('newPassword')?.invalid && changePasswordForm.get('newPassword')?.touched}" placeholder="Enter new password" id="newPassword" formControlName="newPassword" type="text" class="form-control" style="height: 45px; border-radius: 10px;" />
                  <div *ngIf="changePasswordForm.get('newPassword')?.invalid && changePasswordForm.get('newPassword')?.touched">
                    <small *ngIf="changePasswordForm.get('newPassword')?.errors?.['required']" class="text-danger" style="font-size: 13px;">New password is required.</small>
                    <small *ngIf="changePasswordForm.get('newPassword')?.errors?.['pattern']" class="text-danger">Invalid password format.</small>
                  </div>
                </div>
  
                <div class="form-group row align-items-center mt-3">
                    <input [ngClass]="{'is-invalid': changePasswordForm.get('confirmNewPassword')?.invalid && changePasswordForm.get('confirmNewPassword')?.touched}" placeholder="Confirm new password" id="confirmNewPassword" formControlName="confirmNewPassword" type="password" class="form-control" style="height: 45px; border-radius: 10px;" />
                    <small *ngIf="changePasswordForm.get('confirmNewPassword')?.touched && changePasswordForm.get('confirmNewPassword')?.hasError('required')" class="text-danger" style="font-size: 13px;">Confirm Password is required.</small>
                    <small *ngIf="changePasswordForm.hasError('mismatch') && changePasswordForm.get('confirmNewPassword')?.touched" class="text-danger">Passwords do not match.</small>
                </div>


            </form>
  
          </div>
  
  
          <div class="row d-flex justify-content-center align-items-center spinner-wrapper" *ngIf="isLoading">
            <div class="text-center">
              <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              <div class="mt-3">
                <p>Changing your password</p>
              </div>
            </div>
          </div>
  
        </div>
      </div>
  
    </div>
  
  </div>
  
  
  
  
  
  
  
  
  
  
  