

<div style="display: flex; align-items: center; gap: 5px; text-decoration: none;  color: inherit;">
  <i class="bi bi-arrow-left" style="font-size: 2rem; cursor: pointer;" (click)="goToUniversityPage()"></i>
  <p style="margin: 0;">Back</p>
</div>



<div class="container p-5">
  <h3>Add University</h3>
  <form [formGroup]="universityPostForm" (ngSubmit)="submitUniversity()">

    <div class="container">
      <h5 class="text-center mb-3">University logo</h5>
    </div>

    <div class="form-group col text-center step-container">
      <div class="card-profile-body   rounded-4 profile-container ">
        <div class="profile-avatar rounded-circle">
          <img id="avatarImage"
            [src]="previewURL || 'https://res.cloudinary.com/dpp8aspqs/image/upload/v1737024440/Logo_qboacm.svg'"
            alt="Avatar">
        </div>
      </div>

      <small class="text-muted mt-2" style="font-size: 12px; display: flex; align-items: center;">
        <span style="margin-right: 5px;"><i class="bi bi-info-circle"
            style="font-size: 1rem; color: rgb(0, 110, 255);"></i></span>
        Allowed formats: JPEG, PNG, JPG
      </small>

    </div>


    <input type="file" id="fileInput" formControlName="universityLogo" (change)="onFileChange($event)" hidden />
    <small *ngIf="universityPostForm.get('universityLogo')?.hasError('required') && universityPostForm.get('universityLogo')?.touched" class="text-danger"> University logo is required.</small>

        <!-- Wrapper div for centering -->
<div class="d-flex flex-column align-items-center justify-content-center text-center">

  <!-- Icon Section -->
  <label for="fileInput" class="file-upload-label">
    <i class="bi bi-cloud-arrow-up upload-icon" style="font-size: 40px;" aria-hidden="true"></i>
  </label>

  <p class="text-center upload-text">Please upload your files here</p>

  <!-- Dynamic Progress Bar -->
  <div class="progress w-75 mt-3 mb-5" *ngIf="fileUploadProgress" role="progressbar" aria-label="Dynamic File Upload Progress">
    <div class="progress-bar" [style.width.%]="fileUploadProgress | async"> {{ fileUploadProgress | async }}% </div>
  </div>

</div>


    <!-- Success message when upload is completed -->
    <div *ngIf="uploadComplete" class="mt-3">
      <p class="text-success">Upload Completed!</p>
    </div>


    <div class="col  mt-3">
      <label for="universityId" class="form-label fw-bold" style="font-size: 14px;"> University ID <span
          class="required">*</span></label>
      <input type="text" id="universityId" formControlName="universityId" class="form-control form-control-sm"
        placeholder="Enter the University ID" required>
      <small
        *ngIf="universityPostForm.get('universityId')?.hasError('required') && universityPostForm.get('universityId')?.touched"
        class="text-danger"> University ID is required.</small>
    </div>

    <div class="col mt-3">
      <label for="universityName" class="form-label fw-bold" style="font-size: 14px;">University Name <span
          class="required">*</span></label>
      <input type="text" id="universityName" formControlName="universityName"
        class="form-control form-control-sm" placeholder="Enter the university name" required>
      <small
        *ngIf="universityPostForm.get('universityName')?.hasError('required') && universityPostForm.get('universityName')?.touched"
        class="text-danger"> University name is required.</small>
    </div>



    <!--University Descriptions -->
    <div class="col mt-3">
      <label for="universityDescription" class="form-label fw-bold" style="font-size: 14px;">University Description <span class="required">*</span></label>
      <div class="NgxEditor__Wrapper">
        <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
        <ngx-editor [editor]="editor"  class="form-control form-control-sm" formControlName="universityDescription" [placeholder]="'Enter university description'" required></ngx-editor>
      </div>
      <!-- <textarea class="form-control form-control-sm" formControlName="universityDescription" [placeholder]="'Enter university description'" required></textarea> -->
      <small *ngIf="universityPostForm.get('universityDescription')?.hasError('required') && universityPostForm.get('universityDescription')?.touched"  class="text-danger">University description is required.</small>
    </div>

    <div class="col mt-3">
      <label for="universityAddress" class="form-label fw-bold" style="font-size: 14px;">University Address
        <span class="required">*</span></label>
      <input type="text" id="universityAddress" formControlName="universityAddress"
        class="form-control form-control-sm" placeholder="Enter the unviersity address" required>
      <small
        *ngIf="universityPostForm.get('universityAddress')?.hasError('required') && universityPostForm.get('universityAddress')?.touched"
        class="text-danger">University Address is required.</small>
    </div>


    <div class="footer mt-5" style="justify-content: space-between; display: flex;">
      <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-success btn-sm" [disabled]="universityPostForm.invalid">Submit</button>
    </div>


  </form>



</div>
