<div class="container-fluid  d-flex justify-content-center align-items-center vh-100" style="background: #11131c;">

  <div class="col-md-4">
  
    <div *ngIf="!isLoading">
  
      <div class="card text-center"
        style=" border:  1px solid rgba(0, 0, 255, 0.7); box-shadow: 0 0 10px 5px rgba(0, 149, 255, 0.7);  border-radius: 20px; -webkit-backdrop-filter: blur(15px);backdrop-filter: blur(15px); background: radial-gradient(circle, rgba(255, 255, 255, 0.274), #11131c); ">
  
        <div class="card-body p-5" style="border-radius: 15px;">
  
          <form *ngIf="step === 1" [formGroup]="signupDetails" (ngSubmit)="next()">
            <div class="container">
              <h4 class="text-center text-white">Signup Details</h4>
  
              <div class="form-group row align-items-center mt-3">
                <input
                  [ngClass]="{'is-invalid': signupDetails.get('fullName')?.invalid && (signupDetails.get('fullName')?.touched || signupDetails.get('fullName')?.dirty)}"
                  placeholder="Full Name" id="fullName" formControlName="fullName" type="text" class="form-control"
                  style="height: 45px;  border-radius: 10px;" />
                <div *ngIf="signupDetails.get('fullName')?.touched">
                  <small *ngIf="signupDetails.get('fullName')?.errors?.['required']" class="text-danger"
                    style="font-size: 13px;">Full Name is required.</small>
                  <small *ngIf="signupDetails.get('fullName')?.errors?.['pattern']" class="text-danger">Invalid
                    format. Must start with a capital letter.</small>
                </div>
              </div>
  
  
              <div class="form-group row align-items-center mt-3">
                <input
                  [ngClass]="{'is-invalid': signupDetails.get('userName')?.invalid && signupDetails.get('userName')?.touched}"
                  placeholder="Username" id="userName" formControlName="userName" type="text" class="form-control"
                  style="height: 45px; border-radius: 10px;" />
                <div *ngIf="signupDetails.get('userName')?.invalid && signupDetails.get('userName')?.touched">
                  <small *ngIf="signupDetails.get('userName')?.errors?.['required']" class="text-danger"
                    style="font-size: 13px;">Username is required.</small>
                  <small *ngIf="signupDetails.get('userName')?.errors?.['pattern']" class="text-danger">Invalid
                    Username format.</small>
                </div>
              </div>
  
  
              <div class="form-group row align-items-center mt-3">
                <select id="gender" formControlName="gender" class="form-select"
                  [ngClass]="{'is-invalid':  signupDetails.get('gender')?.invalid &&  signupDetails.get('gender')?.touched}"
                  style=" height: 45px; border-radius: 10px;">
                  <option value="" disabled selected>Select Gender</option>
                  <option *ngFor="let gender of genders" [value]="gender">{{ gender }}</option>
                </select>
                <div *ngIf="signupDetails.get('gender')?.touched">
                  <small *ngIf="signupDetails.get('gender')?.errors?.['required']" class="text-danger"
                    style="font-size: 13px;">Gender is required.</small>
                </div>
              </div>
  
  
              <div class="form-group row align-items-center mt-3">
                <input
                  [ngClass]="{'is-invalid': signupDetails.get('email')?.invalid && signupDetails.get('email')?.touched}"
                  placeholder="Email Address" id="email" formControlName="email" type="email" class="form-control"
                  style="height: 45px; border-radius: 10px;" />
                <div *ngIf="signupDetails.get('email')?.touched">
                  <small *ngIf="signupDetails.get('email')?.errors?.['required']" class="text-danger"
                    style="font-size: 13px;">Email is required.</small>
                  <small *ngIf="signupDetails.get('email')?.errors?.['pattern']" class="text-danger">Invalid Email
                    format.</small>
                </div>
              </div>
  
              <div class="form-group row align-items-center mt-3">
                <input
                  [ngClass]="{'is-invalid': signupDetails.get('password')?.invalid && signupDetails.get('password')?.touched}"
                  placeholder="Create Password" id="password" formControlName="password" type="password"
                  class="form-control" style="height: 45px; border-radius: 10px;" />
                <div *ngIf="signupDetails.get('password')?.touched">
                  <small *ngIf="signupDetails.get('password')?.errors?.['required']" class="text-danger"
                    style="font-size: 13px;">Password is required.</small>
                  <small *ngIf="signupDetails.get('password')?.errors?.['pattern']" class="text-danger">InvalidPassword
                    format.</small>
                </div>
              </div>
  
              <div class="form-group row align-items-center mt-3">
                <input
                  [ngClass]="{'is-invalid': signupDetails.get('confirmPassword')?.invalid && signupDetails.get('confirmPassword')?.touched}"
                  placeholder="Confirm Password" id="confirmPassword" formControlName="confirmPassword" type="password"
                  class="form-control" style=" height: 45px; border-radius: 10px;" />
                <small
                  *ngIf="signupDetails.get('confirmPassword')?.touched && signupDetails.get('confirmPassword')?.hasError('required')"
                  class="text-danger" style="font-size: 13px;">Confirm Password is required.</small>
                <small *ngIf="signupDetails.hasError('mismatch') && signupDetails.get('confirmPassword')?.touched"
                  class="text-danger">Passwords do not match.</small>
              </div>
  
              <div class="row justify-content-between mt-3">
                <div class="col-auto">
                  <button class="btn btn-secondary " (click)="back()">Back</button>
                </div>
                <div class="col-auto">
                  <button class="btn btn-primary" type="submit" [disabled]="signupDetails.invalid">Next</button>
                </div>
              </div>
  
  
  
  
            </div>
          </form>
  
          <form *ngIf="step === 2" [formGroup]="contactDetails" (ngSubmit)="next()">
            <div class=" container mt-3 mb-3">
              <h4 class="text-center text-white">Contact Details</h4>
  
              <div class="form-group row align-items-center mt-3">
                <input
                  [ngClass]="{'is-invalid': contactDetails.get('phoneNumber')?.invalid && (contactDetails.get('phoneNumber')?.touched || contactDetails.get('phoneNumber')?.dirty)}"
                  placeholder="Phone Number" id="phoneNumber" formControlName="phoneNumber" type="text"
                  class="form-control" style="height: 45px; border-radius: 10px;" />
                <div *ngIf="contactDetails.get('phoneNumber')?.touched">
                  <small *ngIf="contactDetails.get('phoneNumber')?.errors?.['required']" class="text-danger"
                    style="font-size: 13px;">Phone Number is required.</small>
                </div>
              </div>
  
              <div class="form-group row align-items-center mt-3">
                <input
                  [ngClass]="{'is-invalid': contactDetails.get('streetAddress')?.invalid && (contactDetails.get('streetAddress')?.touched || contactDetails.get('streetAddress')?.dirty)}"
                  placeholder="Street Address" id="streetAddress" formControlName="streetAddress" type="text"
                  class="form-control" style="height: 45px; border-radius: 10px;" />
                <div *ngIf="contactDetails.get('streetAddress')?.touched">
                  <small *ngIf="contactDetails.get('streetAddress')?.errors?.['required']" class="text-danger"
                    style="font-size: 13px;">Street address is required.</small>
                </div>
              </div>
  
              <div class="form-group row align-items-center mt-3">
                <select id="city" formControlName="city" class="form-select"
                  [ngClass]="{'is-invalid':  contactDetails.get('city')?.invalid &&  contactDetails.get('city')?.touched}"
                  style="height: 45px; border-radius: 10px;">
                  <option value="" disabled selected>Select City</option>
                  <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
                </select>
                <div *ngIf="contactDetails.get('city')?.touched">
                  <small *ngIf="contactDetails.get('city')?.errors?.['required']" class="text-danger"
                    style="font-size: 13px;">City is required.</small>
                </div>
              </div>
  
  
              <div class="form-group row align-items-center mt-3">
                <select id="state" formControlName="state" class="form-select"
                  [ngClass]="{'is-invalid':  contactDetails.get('state')?.invalid &&  contactDetails.get('state')?.touched}"
                  style="height: 45px; border-radius: 10px;">
                  <option value="" disabled selected>Select State</option>
                  <option *ngFor="let state of states" [value]="state">{{ state }}</option>
                </select>
                <div *ngIf="contactDetails.get('state')?.touched">
                  <small *ngIf="contactDetails.get('state')?.errors?.['required']" class="text-danger"
                    style="font-size: 13px;">State is required.</small>
                </div>
              </div>
  
  
              <div class="form-group row align-items-center mt-3">
                <select id="country" formControlName="country" class="form-select"
                  [ngClass]="{'is-invalid':  contactDetails.get('country')?.invalid &&  contactDetails.get('country')?.touched}"
                  style="height: 45px; border-radius: 10px;">
                  <option value="" disabled selected>Select Country</option>
                  <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
                </select>
                <div *ngIf="contactDetails.get('country')?.touched">
                  <small *ngIf="contactDetails.get('country')?.errors?.['required']" class="text-danger"
                    style="font-size: 13px;">Country is required.</small>
                </div>
              </div>
  
              <div class="form-group row align-items-center mt-3">
                <input
                  [ngClass]="{'is-invalid': contactDetails.get('pincode')?.invalid && (contactDetails.get('pincode')?.touched ||  contactDetails.get('pincode')?.dirty)}"
                  placeholder="Pincode" id="pincode" formControlName="pincode" type="text" class="form-control"
                  style="height: 45px; border-radius: 10px;" />
                <div *ngIf="contactDetails.get('pincode')?.touched">
                  <small *ngIf="contactDetails.get('pincode')?.errors?.['required']" class="text-danger"
                    style="font-size: 13px;">Pincode is required.</small>
                </div>
              </div>
  
              <div class="row justify-content-between mt-3">
                <div class="col-auto">
                  <button (click)="previous()" class="btn btn-secondary">Previous</button>
                </div>
                <div class="col-auto">
                  <button class="btn btn-primary" type="submit" [disabled]="contactDetails.invalid">Next</button>
                </div>
              </div>
  
  
            </div>
          </form>
  
          <form *ngIf="step === 3" [formGroup]="professionalDetails" (ngSubmit)="next()">
            <div class=" container mt-3 mb-3">
              <h4 class="text-center text-white">Professional Details</h4>
  
  
              <div class="form-group row align-items-center mt-3">
                <select id="companyName" formControlName="companyName" class="form-select"
                  [ngClass]="{'is-invalid': professionalDetails.get('companyName')?.invalid &&  professionalDetails.get('companyName')?.touched}"
                  style="height: 45px; border-radius: 10px;">
                  <option value="" disabled selected style="font-size: 14px;">Select Company</option>
                  <option *ngFor="let company of companyNames" [value]=" company" style="font-size: 14px;">{{company}}
                  </option>
                </select>
                <div *ngIf="professionalDetails.get('companyName')?.touched">
                  <small *ngIf="professionalDetails.get('companyName')?.errors?.['required']" class="text-danger"
                    style="font-size: 13px;"> Company Name is required.</small>
                </div>
              </div>
  
  
              <div class="form-group row align-items-center mt-3">
                <select id="departmentName" formControlName="departmentName" class="form-select"
                  [ngClass]="{'is-invalid': professionalDetails.get('departmentName')?.invalid &&  professionalDetails.get('departmentName')?.touched}"
                  style="height: 45px; border-radius: 10px;">
                  <option value="" disabled selected style="font-size: 14px;">Select Department Name</option>
                  <option *ngFor="let department of  departmentNames" [value]="department" style="font-size: 14px;">{{
                    department }}</option>
                </select>
                <div *ngIf="professionalDetails.get('departmentName')?.touched">
                  <small *ngIf="professionalDetails.get('departmentName')?.errors?.['required']" class="text-danger"
                    style="font-size: 13px;">Department is required.</small>
                </div>
              </div>
  
  
              <div class="form-group row align-items-center mt-3">
                <input
                  [ngClass]="{'is-invalid': professionalDetails.get('designation')?.invalid && (professionalDetails.get('designation')?.touched || professionalDetails.get('designation')?.dirty)}"
                  placeholder="Designation" id="designation" formControlName="designation" type="text"
                  class="form-control" style="height: 45px; border-radius: 10px;" />
                <div *ngIf="professionalDetails.get('designation')?.touched">
                  <small *ngIf="professionalDetails.get('designation')?.errors?.['required']" class="text-danger"
                    style="font-size: 13px;">Designation is required.</small>
                </div>
              </div>
  
  
              <div class="form-group row align-items-center mt-3">
                <select id="jobLevel" formControlName="jobLevel" class="form-select"
                  [ngClass]="{'is-invalid': professionalDetails.get('jobLevel')?.invalid &&  professionalDetails.get('jobLevel')?.touched}"
                  style="height: 45px; border-radius: 10px;">
                  <option value="" disabled selected style="font-size: 14px;">Select Job Level</option>
                  <option *ngFor="let  jobLevel of  jobLevels" [value]="jobLevel" style="font-size: 14px;">{{ jobLevel
                    }}</option>
                </select>
                <div *ngIf="professionalDetails.get('jobLevel')?.touched">
                  <small *ngIf="professionalDetails.get('jobLevel')?.errors?.['required']" class="text-danger"
                    style="font-size: 13px;">Job Level is required.</small>
                </div>
              </div>
  
              <div class="form-group row align-items-center mt-3">
                <input
                  [ngClass]="{'is-invalid': professionalDetails.get('experience')?.invalid && (professionalDetails.get('experience')?.touched || professionalDetails.get('experience')?.dirty)}"
                  placeholder="Experience" id="experience" formControlName="experience" type="text" class="form-control"
                  style="height: 45px; border-radius: 10px;" />
                <div *ngIf="professionalDetails.get('experience')?.touched">
                  <small *ngIf="professionalDetails.get('experience')?.errors?.['required']" class="text-danger"
                    style="font-size: 13px;">Experience is required.</small>
                </div>
              </div>
  
              <div class="form-group row align-items-center mt-3">
                <input
                  [ngClass]="{'is-invalid': professionalDetails.get('companyId')?.invalid && (professionalDetails.get('companyId')?.touched || professionalDetails.get('companyId')?.dirty)}"
                  placeholder="Company Id" id="companyId" formControlName="companyId" type="text" class="form-control"
                  style="height: 45px; border-radius: 10px;" />
                <div *ngIf="professionalDetails.get('companyId')?.touched">
                  <small *ngIf="professionalDetails.get('companyId')?.errors?.['required']" class="text-danger"
                    style="font-size: 13px;">Company Id is required.</small>
                </div>
              </div>
  
  
              <div class="row justify-content-between mt-3">
                <div class="col-auto">
                  <button (click)="previous()" class="btn btn-secondary">Previous</button>
                </div>
                <div class="col-auto">
                  <button class="btn btn-primary" type="submit" [disabled]="professionalDetails.invalid">Next</button>
                </div>
              </div>
  
  
            </div>
          </form>
  
          <form *ngIf="step === 4" [formGroup]="bioDetails" (ngSubmit)="next()">
            <div class=" container mt-3 mb-3">
              <h4 class="text-center  text-white">Bio Details</h4>
  
              <div class="form-group row align-items-center mt-3">
                <textarea
                  [ngClass]="{'is-invalid': bioDetails.get('bio')?.invalid && (bioDetails.get('bio')?.touched || bioDetails.get('bio')?.dirty)}"
                  placeholder="Enter your bioDetails or objective" id="bio" formControlName="bio" class="form-control"
                  style="height: 300px; border-radius: 10px; "></textarea>
                <div *ngIf="bioDetails.get('bio')?.touched">
                  <small *ngIf="bioDetails.get('bio')?.errors?.['required']" class="text-danger" style="font-size: 13px;">
                    Bio Details is required.
                  </small>
                </div>
              </div>
  
  
              <div class="row justify-content-between mt-3">
                <div class="col-auto">
                  <button (click)="previous()" class="btn btn-secondary">Previous</button>
                </div>
                <div class="col-auto">
                  <button class="btn btn-primary" type="submit" [disabled]="bioDetails.invalid">Next</button>
                </div>
              </div>
  
            </div>
          </form>
  
          <form *ngIf="step === 5" [formGroup]="profileDetails" (ngSubmit)="submit()">
            <div class="container mt-3 mb-3">
              <h4 class="text-center text-white">Profile Upload</h4>
            </div>
  
  
            <div class="form-group col text-center step-container"
              style="display: flex; flex-direction: column; justify-content: space-between; align-items: center; height: 100%;">
              <div class="card-profile-body  rounded-4 profile-container"
                style=" display: flex; flex-direction: column; justify-content: center; align-items: center; border: 2px solid black; width: 180px; height: 180px;  overflow: hidden;">
                <div class="profile-avatar rounded-circle"
                  style="width: 150px; height: 150px; overflow: hidden; border: 2px solid black;">
                  <img id="avatarImage"
                    [src]="profileUploadUrl || 'https://res.cloudinary.com/dpp8aspqs/image/upload/v1733121824/profie_images_opbm8k.png'"
                    alt="Avatar" style=" width: 100%; height: 100%; object-fit: cover;">
                </div>
              </div>
  
              <small class="text-muted mt-2" style="font-size: 12px; display: flex; align-items: center;">
                <span style="margin-right: 5px;"><i class="bi bi-info-circle"
                    style="font-size: 1rem; color: rgb(0, 110, 255);"></i></span>
                Allowed formats: JPEG, PNG, JPG
              </small>
  
              <div class="mt-3">
                <button type="button" class="btn btn-primary rounded-3 upload-button px-3 d-flex align-items-center"
                  title="Upload" (click)="fileInput.click()">
                  <i class="bi bi-cloud-arrow-up upload-icon-style me-2" style="font-size: 1rem;"></i>
                  <span class="upload-text">Upload</span>
                </button>
  
                <input type="file" #fileInput id="profileUpload" formControlName="profileUpload" class="d-none"
                  (change)="handleFileUpload($event)">
              </div>
  
            </div>
  
            <div class="row justify-content-between mt-3">
              <div class="col-auto">
                <button (click)="previous()" class="btn btn-secondary">Previous</button>
              </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-success" [disabled]="profileDetails.invalid">Submit</button>
              </div>
            </div>
  
  
  
          </form>
  
          <div class="col-12 justify-content-center mt-3">
            <p class="mb-0 text-center fs-6 text-white">Already a member?
              <span class="text-primary" (click)="LoginPage()" style="cursor: pointer;">Login</span>
            </p>
          </div>
  
        </div>
  
        <div class="row d-flex justify-content-center align-items-center spinner-wrapper" *ngIf="isLoading">
          <div class="text-center">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
            <div class="mt-3">
              <!-- <p *ngIf="registrationSuccess">Redirecting you to confirmation page</p>
                  <p *ngIf="!registrationSuccess">Redirecting to signup page...</p> -->
              <p>Registering you account details</p>
  
            </div>
          </div>
        </div>
  
      </div>
  
    </div>
  
  </div>

</div>










