<div class="container-fluid  d-flex justify-content-center align-items-center vh-100" style="font-family: 'Poppins', sans-serif;" >

  <div class="col-md-4">
    <div *ngIf="!isLoading">
      <div class="card  shadow-lg" style="max-width: 400px; width: 100%; border: 1px solid #007bff; border-radius: 15px;">
        <div class="card-body p-5" style="border-radius: 15px;">

          <div class="container pb-3  text-center align-items-center">
            <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1737024440/Logo_qboacm.svg" alt="Logo" style="width: 100px; height: 100px; object-fit: cover; border-radius: 50%;">
          </div>

          <form [formGroup]="registrationForm" (ngSubmit)="submit()">

            <!-- This input field allows the user to enter their email address. It has validation to ensure a valid email format -->
            <div class="form-group  mt-3">
              <div class="input-group ">
                <span class="input-group-text"><i class="bi bi-envelope"  style="font-size: 1.2rem;"></i></span>
                <input [ngClass]="{'is-invalid': registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched}" placeholder="Email Address" id="email" formControlName="email" type="email" class="form-control form-control-sm rounded-0" style="height: 45px;" />
              </div>
              <div *ngIf="registrationForm.get('email')?.touched">
                <small *ngIf="registrationForm.get('email')?.errors?.['required']" class="text-danger"  style="font-size: 12px;">Email is required.</small>
                <small *ngIf="registrationForm.get('email')?.errors?.['pattern']" class="text-danger">Invalid Email format.</small>
              </div>
            </div>

            <!-- Password Input -->
            <div class="form-group row align-items-center mt-3">
              <div class="input-group ">

              <span class="input-group-text"><i class="bi bi-lock"  style="font-size: 1.2rem;"></i></span>
              <input [type]="showPassword ? 'text' : 'password'" [ngClass]="{'is-invalid': registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched}" placeholder="Create Password" id="password" formControlName="password" type="password" class="form-control form-control-sm rounded-0" style="height: 45px;" />
              <button type="button" class="btn btn-outline-secondary" (click)="showPassword = !showPassword">
                <i class="bi" [ngClass]="showPassword ? 'bi-eye' : 'bi-eye-slash'" style="font-size: 1.2rem;"></i>
              </button>
              </div>
              <div *ngIf="registrationForm.get('password')?.touched">
                <small *ngIf="registrationForm.get('password')?.errors?.['required']" class="text-danger" style="font-size: 12px;">Password is required.</small>
                <small *ngIf="registrationForm.get('password')?.errors?.['pattern']" class="text-danger">Invalid Password format.</small>
              </div>
            </div>

            <!-- Confirm Password Input -->
            <div class="form-group row align-items-center mt-3">
              <div class="input-group ">

              <span class="input-group-text"><i class="bi bi-lock"  style="font-size: 1.2rem;"></i></span>
              <input [type]="showConfirmPassword ? 'text' : 'password'" [ngClass]="{'is-invalid': registrationForm.get('confirmPassword')?.invalid && registrationForm.get('confirmPassword')?.touched}" placeholder="Confirm Password" id="confirmPassword" formControlName="confirmPassword" type="password" class="form-control form-control-sm rounded-0" style="height: 45px;" />
              <button type="button" class="btn btn-outline-secondary" (click)="showConfirmPassword = !showConfirmPassword">
                <i class="bi" [ngClass]="showConfirmPassword ? 'bi-eye' : 'bi-eye-slash'" style="font-size: 1.2rem;"></i>
              </button>
              </div>
              <small *ngIf="registrationForm.get('confirmPassword')?.touched && registrationForm.get('confirmPassword')?.hasError('required')" class="text-danger" style="font-size: 12px;">Confirm Password is required.</small>
              <small *ngIf="registrationForm.hasError('mismatch') && registrationForm.get('confirmPassword')?.touched" class="text-danger">Passwords do not match.</small>
            </div>

            <!-- Navigation Buttons -->
            <div class="row justify-content-between mt-5">
              <div class="col-auto">
                <button (click)="goBack()" class="btn btn-sm btn-outline-secondary px-4 py-2 poppins-medium" style="font-size: 14px;">Back</button>
              </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-sm btn-outline-primary px-4 py-2  poppins-medium" style="font-size: 14px;" [disabled]="registrationForm.invalid">Submit</button>
              </div>
            </div>

          </form>

        </div>


  <div class="row d-flex justify-content-center align-items-center spinner-wrapper" *ngIf="isLoading">
    <div class="text-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="mt-3">
        <p *ngIf="registrationSuccess">Redirecting you to cofirmation page</p>
        <p *ngIf="!registrationSuccess">Redirecting to signup...</p>
      </div>
    </div>
  </div>

      </div>
    </div>

  </div>

</div>










