
<!-- 
  <div class="card">
    <div class="card-body">
      <h2>OTP Verification</h2>
      <p>An OTP has been sent to your email <strong>sample&#64;gmail.com</strong>. Please enter the code.</p>
  
      <form [formGroup]="otpForm" (ngSubmit)="submitOtp()">
        <div class="otp-field">
          <input #otpInput type="text" maxlength="1"
            *ngFor="let key of otpKeys; let i = index" 
            [formControlName]="key"
            (input)="handleInput(i, $event)"
            (keydown)="handleBackspace(i, $event)">
        </div>
        <button type="submit" class="btn btn-success" [disabled]="otpForm.invalid">Verify</button>
      </form>
    </div>
  </div>
   -->
  

  <!-- <div class="container p-5 position-absolute top-50 start-50 translate-middle">

      <div class="card shadow d-flex align-items-center justify-content-center text-center" style="height: 35rem;">

      <div class="card-body ">
        <h2>OTP Verification</h2>
        <p>An OTP has been sent to your email <strong>sample&#64;gmail.com</strong>. Please enter the code.</p>
  
        <form [formGroup]="otpForm" (ngSubmit)="submitOtp()">
          <div class="d-flex justify-content-center gap-2">
            <input #otpInput type="text" maxlength="1"
              *ngFor="let key of otpKeys; let i = index" 
              [formControlName]="key"
              class="form-control text-center"
              style="width: 40px; height: 40px; font-size: 20px;"
              (input)="handleInput(i, $event)"
              (keydown)="handleBackspace(i, $event)">
          </div>
          <button type="submit" class="btn btn-success mt-3 " [disabled]="otpForm.invalid">Verify</button>
        </form>
      </div>
    </div>

  </div> -->

  

  <div class="container p-5 mt-4">
    <div class="card p-5 shadow-lg text-center bg-body-secondary">
  
      <div class="card-body p-4">
        <!-- OTP Verification Header Section -->
        <div class="col text-center mb-5 ">
          <i class="bi bi-envelope-at" style="font-size: 5rem;"></i>
        </div>

        <div class="col text-center">
            <h2>OTP Verification</h2>
            <p>An OTP has been sent to your email <strong>sa***le&#64;gmail.com</strong><br> <span class="text-center">Please enter the code.</span></p>  
        </div>

      
        <!-- OTP Form Section -->
        <div class="row d-flex justify-content-center align-items-center ">
          <div class="col text-center">
            <form [formGroup]="otpForm" (ngSubmit)="submitOtp()">
              <div class="d-flex justify-content-center gap-2 mt-3">
                <input #otpInput type="text" maxlength="1" *ngFor="let key of otpKeys; let i = index" [formControlName]="key" class="form-control text-center" style="width: 40px; height: 40px; border: 1px solid black; font-size: 20px;" (input)="handleInput(i, $event)" (keydown)="handleBackspace(i, $event)">
              </div>
              
              <button type="submit" class="btn btn-success mt-5" [disabled]="otpForm.invalid">Verify</button>
            </form>
          </div>
        </div>

      </div>
      
      
    </div>
  </div>
  