# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
package-lock.json
package.json
bootstrap-5.3.3-examples/bootstrap-5.3.3-examples/sidebars/index.html
src/app/app.module.ts
src/app/Back-End/Source/.gitignore
src/app/Back-End/Source/Server.js
src/app/Back-End/Source/controllers/adminController.js
src/app/Back-End/Source/controllers/recruiterController.js
src/app/Back-End/Source/controllers/seekerController.js
src/app/Back-End/Source/forgot-password-otp/forgotPasswordController.js
src/app/Back-End/Source/login/loginController.js
src/app/Back-End/Source/login/loginModel.js
src/app/Back-End/Source/middleware/identification.js
src/app/Back-End/Source/middleware/sendMail.js
src/app/Back-End/Source/middleware/validator.js
src/app/Back-End/Source/models/adminModel.js
src/app/Back-End/Source/models/recruiterModel.js
src/app/Back-End/Source/models/seekerModel.js
src/app/Back-End/Source/otp-verification/otpVerificationController.js
src/app/Back-End/Source/routers/authRoutes.js
src/app/Back-End/Source/utils/hashing.js
src/environments/environment.ts
src/environments/environment.prod.ts
src/app/Front-End/core/guards/auth.guard.ts
src/app/Front-End/core/guards/role.guard.ts
src/app/Front-End/core/interceptors/api-headers.interceptor.ts
src/app/Front-End/core/models/auth.model.ts
src/app/Front-End/core/models/password.model.ts
src/app/Front-End/core/models/user-registration.model.ts
src/app/Front-End/core/models/user.model.ts
src/app/Front-End/core/services/auth.service.ts
src/app/Front-End/core/services/auto-logout.service.ts
src/app/Front-End/core/services/password.service.ts
src/app/Front-End/core/services/reset-password.service.ts
src/app/Front-End/core/services/user-service.ts
src/app/Front-End/views/Layouts/talent-header/talent-header.component.html
src/app/Front-End/views/Layouts/talent-header/talent-header.component.ts
src/app/Front-End/views/Pages/talent-page/talent-page.component.ts
src/app/Front-End/views/Pages/talent-page/talent-pages-routing.module.ts
src/app/Front-End/views/Pages/talent-page/admin/university/university.component.html
src/app/Front-End/views/Pages/talent-page/Recruiter/recruiter-main-page.component.ts
src/app/Front-End/views/Pages/talent-page/Seeker/seeker-main-page.component.ts
src/app/Front-End/views/Pages/talent-page/Seeker/seeker-profile/seeker-basic-details/seeker-basic-details.component.ts
src/app/Front-End/views/Pages/talent-page/talent-login/talent-login.component.html
src/app/Front-End/views/Pages/talent-page/talent-login/talent-login.component.ts
src/app/Front-End/views/Pages/talent-page/talent-sign-up/account-confirmation/account-confirmation.component.html
src/app/Front-End/views/Pages/talent-page/talent-sign-up/account-confirmation/account-confirmation.component.ts
src/app/Front-End/views/Pages/talent-page/talent-sign-up/change-password-page/change-password-page.component.html
src/app/Front-End/views/Pages/talent-page/talent-sign-up/change-password-page/change-password-page.component.ts
src/app/Front-End/views/Pages/talent-page/talent-sign-up/forgot-password-page/forgot-password-page.component.css
src/app/Front-End/views/Pages/talent-page/talent-sign-up/forgot-password-page/forgot-password-page.component.html
src/app/Front-End/views/Pages/talent-page/talent-sign-up/forgot-password-page/forgot-password-page.component.spec.ts
src/app/Front-End/views/Pages/talent-page/talent-sign-up/forgot-password-page/forgot-password-page.component.ts
src/app/Front-End/views/Pages/talent-page/talent-sign-up/otp-verification-page/otp-verification-page.component.css
src/app/Front-End/views/Pages/talent-page/talent-sign-up/otp-verification-page/otp-verification-page.component.html
src/app/Front-End/views/Pages/talent-page/talent-sign-up/otp-verification-page/otp-verification-page.component.ts
src/app/Front-End/views/Pages/talent-page/talent-sign-up/register-recruiter/register-recruiter.component.html
src/app/Front-End/views/Pages/talent-page/talent-sign-up/register-recruiter/register-recruiter.component.ts
src/app/Front-End/views/Pages/talent-page/talent-sign-up/register-seeker/register-seeker.component.html
src/app/Front-End/views/Pages/talent-page/talent-sign-up/register-seeker/register-seeker.component.ts
src/app/Front-End/views/Pages/talent-page/talent-sign-up/reset-password-otp-page/reset-password-otp-page.component.css
src/app/Front-End/views/Pages/talent-page/talent-sign-up/reset-password-otp-page/reset-password-otp-page.component.html
src/app/Front-End/views/Pages/talent-page/talent-sign-up/reset-password-otp-page/reset-password-otp-page.component.spec.ts
src/app/Front-End/views/Pages/talent-page/talent-sign-up/reset-password-otp-page/reset-password-otp-page.component.ts
src/app/Front-End/views/Pages/talent-page/talent-sign-up/reset-password-page/reset-password-page.component.css
src/app/Front-End/views/Pages/talent-page/talent-sign-up/reset-password-page/reset-password-page.component.html
src/app/Front-End/views/Pages/talent-page/talent-sign-up/reset-password-page/reset-password-page.component.spec.ts
src/app/Front-End/views/Pages/talent-page/talent-sign-up/reset-password-page/reset-password-page.component.ts
src/app/Front-End/views/Pages/talent-page/talent-sign-up/settings-page/settings-page.component.html
src/app/Front-End/views/Pages/talent-page/talent-sign-up/settings-page/settings-page.component.ts
