<div class="sidebar" [ngClass]="{'open': sidebarOpen}">
  <ul class="nav-list" style="margin-top: 80px;">
    <li *ngFor="let menu of menuItems" style="margin-top: 20px;margin-top: 20px; padding: 10px;">
      <a [routerLink]="menu.link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i [class]="menu.icon" style="font-size: 1.3rem;"></i>
        <span class="links_name" style="margin-left: 10px; font-size: 14px;">{{ menu.label }}</span>
      </a>
      <span class="tooltip" style="font-size: 14px;">{{ menu.label }}</span>
    </li>
  </ul>
</div>
