<div class="container">
    <h4>Basic Details</h4>
    <p class="mt-3">About</p>
    <hr class="mt-0">

    <table class="table" >
        <tbody>
          <tr>
            <td style="width: 20%; border: none;">Full Name:</td>
            <td style="border: none;">{{ profile.profileDetails.firstName}} {{ profile.profileDetails.lastName}}</td>
          </tr>
          <tr>
            <td style="border: none;">Date Of Birth:</td>
            <td style="border: none;">{{ profile.profileDetails.dateOfBirth}}</td>
          </tr>
          <tr>
            <td style="border: none;">Gender:</td>
            <td style="border: none;">{{ profile.profileDetails.gender}}</td>
          </tr>
          <tr>
            <td style="border: none;">Phone Number:</td>
            <td style="border: none;">{{ profile.profileDetails.phoneNumber}}</td>
          </tr>
          <tr>
            <td style="border: none;">Bio-Data:</td>
            <td style="border: none; text-align: justify;">
              <p [innerHTML]=" profile.profileDetails.sanitizedBioDescription"></p>
            </td>
          </tr>
          <tr>
            <td style="border: none;">Address:</td>
            <td style="border: none; text-align: justify;">
              {{ profile.profileDetails.streetAddress}}, {{ profile.profileDetails.state}}, {{ profile.profileDetails.country}}, {{ profile.profileDetails.pincode}}
            </td>
          </tr>
        </tbody>
      </table>



</div>
