<div class="container">

  <div class="row d-flex justify-content-center align-items-center mb-3">
      <div class="col-10">
          <h5 style="margin: 0;">Certifications</h5>
      </div>
      <div class="col-2 text-end">
          <button class="btn btn-primary btn-sm px-3 d-flex align-items-center justify-content-center rounded-5"  data-bs-toggle="modal" data-bs-target="#certificateModal" style="font-size: 14px;"  > <i class="bi bi-plus me-2" style="font-size: 1rem;"></i><span style="margin-right: 10px; font-size: 14px;">Add New</span> </button>
      </div>
  </div>


    <div  class="card mt-3">
      <div class="card-body">
          <div class="row">
              <div class="col-10">
                  <p class="card-title" style="font-size: 16px; font-weight: normal;">Autodesk Certified Professional: AutoCAD for Design and Drafting Exam Prep</p>
              </div>

              <div class="col-2 text-end">
                  <i class="bi bi-pencil-square me-3" style="font-size: 1.5 rem;"></i>
                  <i class="bi bi-trash" style="font-size: 1.5 rem;"></i>
              </div>
          </div>


          <p class="mb-0 mt-3" style="font-weight: bold;">Certificate Description</p>
          <p>Certification description data</p>

          <p class="mt-5">
              Certification URL: <a href="https://coursera.org/verify/QX7LZELN9TK7" target="_blank" style="color: blue;">coursera.org/verify/QX7LZELN9TK7</a>
          </p>

          <div class="card" style="width: 20rem; border-radius: 5px; padding: 10px;">

              <div class="card-body" style="padding: 0;">
                  <div class="row d-flex align-items-center justify-content-between">

                      <!-- Icon Section (left side) -->
                      <div class="col-3  d-flex justify-content-center align-items-center" style="border-radius: 5px;">
                          <i class="bi bi-file-pdf" style="font-size: 2.5rem; color: #dc3545;"></i>
                      </div>

                      <!-- Content Section (middle) -->
                      <div class="col" style="border-radius: 5px; margin-left: -20px;">
                          <div class="row" style="display: flex; flex-direction: column;">
                              <div class="col">
                                  <p style="font-size: 14px; font-weight: bold; color: #333; white-space: nowrap; margin-bottom: 0;">CERTIFICATE NAME</p>
                              </div>
                              <div class="col">
                                  <p style="color: gray; font-size: 12px; white-space: nowrap; margin-bottom: 0;">Created 12:00pm 09 Dec 2024</p>
                              </div>
                          </div>
                      </div>

                      <!-- Action Icons Section (right side) -->
                      <div class="col text-end d-flex align-items-center justify-content-center">
                          <i class="bi bi-download" style="font-size: 1.2rem; cursor: pointer; margin-right: 10px; color: #007bff;"></i>
                      </div>
                  </div>
              </div>

          </div>

      </div>
    </div>

</div>



<!-- Modal -->
<div class="modal fade" id="certificateModal" tabindex="-1" aria-labelledby="certificateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg  modal-dialog-centered ">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-6 text-center" id="certificateModalLabel">Add Certificate</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
  
          <form [formGroup]="certificateForm" (ngSubmit)="saveCertificate()">

            <!-- Course Name, Course Issuing authority -->
            <div class="row  p-3">

                <div class="col">
                    <input type="text" id="courseName" formControlName="courseName"  class="form-control form-control-sm" placeholder="Course Name" required>
                    <small *ngIf="certificateForm.get('courseName')?.hasError('required') && certificateForm.get('courseName')?.touched" class="text-danger">Course name is required.</small>
                </div>

                <div class="col">
                    <input type="text" id="associatedAuthority" formControlName="associatedAuthority"  class="form-control form-control-sm" placeholder="Associated authority" required>
                    <small *ngIf="certificateForm.get('associatedAuthority')?.hasError('required') && certificateForm.get('associatedAuthority')?.touched" class="text-danger">Associated authority is required.</small>
                </div>
        
            </div>

            <!-- Certificate URL, License Number -->
            <div class="row  p-3">

                <div class="col">
                    <input type="text" id="certificationURL" formControlName="certificationURL"  class="form-control form-control-sm" placeholder="Certification URL" required>
                    <small *ngIf="certificateForm.get('certificationURL')?.hasError('required') && certificateForm.get('certificationURL')?.touched" class="text-danger">Certification URL is required.</small>
                </div>
        
                
                <div class="col">
                    <input type="date" id="certificationDate" formControlName="certificationDate"  class="form-control form-control-sm" placeholder="Certification date" required>
                    <small *ngIf="certificateForm.get('certificationDate')?.hasError('required') && certificateForm.get('certificationDate')?.touched" class="text-danger">Certification date is required.</small>
                </div>
        
            </div>


            <!-- Certificate Date -->
            <div class="row  p-3">

                <div class="col">
                    <input type="file" id="certificateUpload" formControlName="certificateUpload"  class="form-control form-control-sm" placeholder="Certificate upload" required>
                    <small *ngIf="certificateForm.get('certificateUpload')?.hasError('required') && certificateForm.get('certificateUpload')?.touched" class="text-danger">Please upload certificate</small>
                </div>
        
        
            </div>

            <!-- Certificate Description -->
            <div class="row  p-3">

                <div class="col">
                    <textarea id="ceritificationDescription" formControlName="ceritificationDescription"  class="form-control form-control-sm" placeholder="Ceritification description" required></textarea>
                    <small *ngIf="certificateForm.get('ceritificationDescription')?.hasError('required') && certificateForm.get('ceritificationDescription')?.touched" class="text-danger">Certification description is required.</small>
                </div>
        
            </div>
  
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success"  [disabled]="certificateForm.invalid">Save</button>
        </div>
  
        </form>
        </div>
  
      </div>
    </div>
</div>












<div  class="text-center position-relative">

  <div class="container mt-4">
      <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1733208068/6109669_h6pkgp.webp" alt="No Data Illustration" class="img-fluid" style="max-height: 300px;  display: block; margin: 0 auto;">
  </div>

  <div class="container">
      <p class="mb-3"><strong>No Certificates Added Yet</strong><br>You have not added any certificates yet.<br>Please click below to add a certificate.</p>
  </div>



</div>
















