<div class="container">


    <div class="row">
        <div class="col-10">
            <h4>Certifications</h4>
        </div>
    
        <div class="col-2 text-end">
            <button class="btn btn-primary btn-sm rounded-5 px-3" style="font-size: 14px;">
                <i class="bi bi-plus me-2" style="font-size: 1rem;"></i>
                <span style="font-size: 14px;">Add New</span>
            </button>
        </div>
    </div>



      <div class="card mt-3">
        <div class="card-body">
            <div class="row">
                <div class="col-10">
                    <h5 class="card-title">Autodesk Certified Professional: AutoCAD for Design and Drafting Exam Prep</h5>
                </div>

                <div class="col-2 text-end">
                    <i class="bi bi-pencil-square me-3" style="font-size: 1 rem;"></i>
                    <i class="bi bi-trash" style="font-size: 1 rem;"></i>
                    <i class="bi bi-upload" style="font-size: 1rem; margin-left: 10px;"></i>
                </div>
            </div>

            <hr>
            <p>Autodesk Certified Professional: AutoCAD for Design and Drafting Exam Prep</p>
            <p class="card-text">
                Certification URL: <a href="https://coursera.org/verify/QX7LZELN9TK7" target="_blank" style="color: blue;">coursera.org/verify/QX7LZELN9TK7</a>
            </p>
            <div class="card" style="width: 35%;">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <p class="card-title" style="font-size: 14px;">Certification PDF</p>
                        </div>
                
                        <div class="col text-end">
                            <i class="bi bi-download" style="font-size: 1rem;"></i>
                            <i class="bi bi-trash ms-2" style="font-size: 1rem;"></i> <!-- Added margin-left (spacing between icons) -->
                        </div>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>

</div>



<div class="text-center position-relative">

    <div class="container mt-4">
        <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1733208068/6109669_h6pkgp.webp"
            alt="No Data Illustration" class="img-fluid" style="max-height: 300px;  display: block; margin: 0 auto;">
    </div>

    <div class="container">
        <p class="mb-3"><strong>No Certificates Added Yet</strong><br>You have not added any certificates yet.<br>Please click
            below to add a certificate.</p>
    </div>

    <div class="container d-flex align-items-center justify-content-center">
        <button class="btn btn-primary  btn-sm px-3 d-flex align-items-center justify-content-center rounded-5 "
            style="font-size: 14px; "> <i class="bi bi-plus me-2"
                style="font-size: 1rem;"></i><span style="margin-right: 10px; font-size: 14px;">Add New</span> </button>
    </div>


</div>
















