<div class="container">
    <div class="row">
        <div class="col-10">
            <strong>Technical Skills</strong>
        </div>
    
        <div class="col-2 text-end">
            <button class="btn btn-primary  btn-sm px-3 d-flex align-items-center justify-content-center rounded-5 " style="font-size: 14px; "  > <i class="bi bi-plus me-2" style="font-size: 1rem;"></i><span style="margin-right: 10px; font-size: 14px;">Add New</span> </button>
    
        </div>
    </div>

    <table class="table mt-3">
        <tbody>
          <tr>
            <td>Mark</td>
            <td>Otto</td>
            <td>Otto</td>
          </tr>
          <tr>
            <td>Mark</td>
            <td>Otto</td>
            <td>Otto</td>
          </tr>
          <tr>
            <td>Mark</td>
            <td>Otto</td>
            <td>Otto</td>
          </tr>
        </tbody>
      </table>

</div>








<div class="container mt-5">

  <div class="row">
    <div class="col-10">
        <strong>Languages</strong>
    </div>

    <div class="col-2 text-end">
        <button class="btn btn-primary  btn-sm px-3 d-flex align-items-center justify-content-center rounded-5 " style="font-size: 14px; "  > <i class="bi bi-plus me-2" style="font-size: 1rem;"></i><span style="margin-right: 10px; font-size: 14px;">Add New</span> </button>

    </div>
</div>


<table class="table mt-3">
    <tbody>
      <tr>
        <td>Mark</td>
        <td>Otto</td>
        <td>Otto</td>
      </tr>
      <tr>
        <td>Mark</td>
        <td>Otto</td>
        <td>Otto</td>
      </tr>
      <tr>
        <td>Mark</td>
        <td>Otto</td>
        <td>Otto</td>
      </tr>
    </tbody>
  </table>

</div>




<div class="container mt-5">

  <div class="row">
    <div class="col-10">
        <strong>Subjects</strong>
    </div>

    <div class="col-2 text-end">
        <button class="btn btn-primary  btn-sm px-3 d-flex align-items-center justify-content-center rounded-5 " style="font-size: 14px; "  > <i class="bi bi-plus me-2" style="font-size: 1rem;"></i><span style="margin-right: 10px; font-size: 14px;">Add New</span> </button>

    </div>
</div>


<table class="table mt-3">
    <tbody>
      <tr>
        <td>Mark</td>
        <td>Otto</td>
        <td>Otto</td>
      </tr>
      <tr>
        <td>Mark</td>
        <td>Otto</td>
        <td>Otto</td>
      </tr>
      <tr>
        <td>Mark</td>
        <td>Otto</td>
        <td>Otto</td>
      </tr>
    </tbody>
  </table>


  </div>