

 <!-- Skills -->
 <div class="container mt-3">

  <div class="row d-flex justify-content-center align-items-center mb-3">
    <div class="col-10">
        <h5 style="margin: 0;">Technical Skills</h5>
    </div>
    <div class="col-2 text-end">
        <button class="btn btn-primary btn-sm px-3 d-flex align-items-center justify-content-center rounded-5" data-bs-toggle="modal" data-bs-target="#skillModal" style="font-size: 14px;"> <i class="bi bi-plus me-2" style="font-size: 1rem;"></i><span style="margin-right: 10px; font-size: 14px;">Add New</span> </button>
    </div>
  </div>

  <div  class="container">
    <table class="custom-table">
      <tr>
        <td style="width: 15%; text-align: start; font-size: 16px;">UX/UI Design</td>
        <td style="width: 30%; text-align: start;">Beginner</td>
        <td class="action-icons" style="width: 10%; align-items: end;">
          <i class="bi bi-pencil-square"></i>
          <i class="bi bi-trash"></i>
        </td>
      </tr>
  </table>
  </div>

  <div  class="container mt-3">
    <p>Please add your skills</p>
  </div>


</div>


<!-- Modal -->
<div class="modal fade" id="skillModal" tabindex="-1" aria-labelledby="skillModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered ">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-6 text-center" id="skillModalLabel">Add Skillset</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form [formGroup]="technicalSkillForm" (ngSubmit)="saveSkills()">


        <div class="col">
          <select id="skillSet" class="form-select form-select-sm" formControlName="skillSet" required>
              <option value="">Select a Skillset</option>
              <option value="3-5 Lakhs">Skillset 1</option>
              <option value="6-9 Lakhs">Skillset 2</option>
              <option value="10-12 Lakhs">Skillset 3</option>
              <option value="15-18 Lakhs">Skillset 4</option>
          </select>
          <small *ngIf="technicalSkillForm.get('skillSet')?.hasError('required') && technicalSkillForm.get('skillSet')?.touched" class="text-danger">Skillset is required</small>

      </div>


      <div class="col mt-3 mb-3">
        <select id="proficiency" class="form-select form-select-sm" formControlName="proficiency" required>
            <option value="">Select Proficiency</option>
            <option value="3-5 Lakhs">proficiency 1</option>
            <option value="6-9 Lakhs">proficiency 2</option>
            <option value="10-12 Lakhs">proficiency 3</option>
            <option value="15-18 Lakhs">proficiency 4</option>
        </select>
        <small *ngIf="technicalSkillForm.get('proficiency')?.hasError('required') && technicalSkillForm.get('proficiency')?.touched" class="text-danger">Proficiency is required.</small>

    </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success"  [disabled]="technicalSkillForm.invalid">Save</button>
      </div>

      </form>
      </div>

    </div>
  </div>
</div>



  <!-- Languages -->
  <div class="container mt-5">

    <div class="row d-flex justify-content-center align-items-center mb-3">
      <div class="col-10">
          <h5 style="margin: 0;">Languages</h5>
      </div>
      <div class="col-2 text-end">
          <button class="btn btn-primary btn-sm px-3 d-flex align-items-center justify-content-center rounded-5 " data-bs-toggle="modal" data-bs-target="#languageModal" style="font-size: 14px; "  > <i class="bi bi-plus me-2" style="font-size: 1rem;"></i><span style="margin-right: 10px; font-size: 14px;">Add New</span> </button>
      </div>
    </div>


    <div  class="container">
      <table class="custom-table">
        <tr>
          <td style="width: 15%; text-align: start;  font-size: 16px;">English</td>
          <td style="width: 30%; text-align: start;">Beginner</td>
          <td class="action-icons"  style="width: 10%; align-items: end;">
            <i class="bi bi-pencil-square"></i>
            <i class="bi bi-trash"></i>
          </td>
        </tr>
    </table>
    </div>

    <div class="container mt-3">
      <p>Please add the languages</p>
    </div>

  </div>

   <!-- Modal -->
<div class="modal fade" id="languageModal" tabindex="-1" aria-labelledby="languageModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered ">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-6 text-center" id="languageModalLabel">Add Language</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form [formGroup]="languageForm" (ngSubmit)="saveLanguages()">


        <div class="col">
          <select id="language" class="form-select form-select-sm" formControlName="language" required>
              <option value="">Select a Language</option>
              <option value="3-5 Lakhs">Skillset 1</option>
              <option value="6-9 Lakhs">Skillset 2</option>
              <option value="10-12 Lakhs">Skillset 3</option>
              <option value="15-18 Lakhs">Skillset 4</option>
          </select>
          <small *ngIf="languageForm.get('language')?.hasError('required') && languageForm.get('language')?.touched" class="text-danger">Language is required</small>

      </div>


      <div class="col mt-3 mb-3">
        <select id="proficiency" class="form-select form-select-sm" formControlName="proficiency" required>
            <option value="">Select Proficiency</option>
            <option value="3-5 Lakhs">proficiency 1</option>
            <option value="6-9 Lakhs">proficiency 2</option>
            <option value="10-12 Lakhs">proficiency 3</option>
            <option value="15-18 Lakhs">proficiency 4</option>
        </select>
        <small *ngIf="languageForm.get('proficiency')?.hasError('required') && languageForm.get('proficiency')?.touched" class="text-danger">Proficiency is required.</small>

    </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success"  [disabled]="languageForm .invalid">Save</button>
      </div>

      </form>
      </div>

    </div>
  </div>
</div>

