<div class="container">
    <div class="row d-flex justify-content-center align-items-center mb-3">
      <div class="col">
        <p style="margin: 0; font-size: 18px; font-weight: bold;">Technical Skills</p>
      </div>
      <div class="col" style="margin-left: 280px;">
        <button class="btn btn-primary btn-sm px-3 d-flex align-items-center justify-content-center rounded-5">
          <i class="bi bi-plus me-2" style="font-size: 1rem;"></i>
          <span style="font-size: 14px; ">Add New</span>
        </button>
      </div>
    </div>

    <div *ngIf="isTechnicalSkills" class="container">
      <table class="custom-table">
        <tr>
          <td style="width: 15%; text-align: start; font-size: 16px;">UX/UI Design</td>
          <td style="width: 30%; text-align: start;">Beginner</td>
          <td class="action-icons" style="width: 10%; align-items: end;">
            <i class="bi bi-pencil-square"></i>
            <i class="bi bi-trash"></i>
          </td>
        </tr>
    </table>
    </div>

    <div *ngIf="!isTechnicalSkills" class="container">
      <p>Please add your skills</p>
    </div>


  </div>

  <div class="container mt-5">
    <div class="row d-flex justify-content-center align-items-center mb-3">
      <div class="col">
        <p style="margin: 0; font-size: 18px; font-weight: bold;">Languages</p>
      </div>
      <div class="col" style="margin-left: 280px;">
        <button class="btn btn-primary btn-sm px-3 d-flex align-items-center justify-content-center rounded-5" style="font-size: 14px;">
          <i class="bi bi-plus me-2" style="font-size: 1rem;"></i>
          <span>Add New</span>
        </button>
      </div>
    </div>


    <div *ngIf="isLanguages" class="container">
      <table class="custom-table">
        <tr>
          <td style="width: 15%; text-align: start;  font-size: 16px;">English</td>
          <td style="width: 30%; text-align: start;">Beginner</td>
          <td class="action-icons"  style="width: 10%; align-items: end;">
            <i class="bi bi-pencil-square"></i>
            <i class="bi bi-trash"></i>
          </td>
        </tr>
    </table>
    </div>

    <div *ngIf="!isLanguages" class="container">
      <p>Please add the languages</p>
    </div>

  </div>

  <div class="container mt-5">
    <div class="row d-flex justify-content-center align-items-center mb-3">
      <div class="col">
        <p style="margin: 0; font-size: 18px; font-weight: bold;">Subjects</p>
      </div>
      <div class="col" style="margin-left: 280px;">
        <button class="btn btn-primary btn-sm px-3 d-flex align-items-center justify-content-center rounded-5" style="font-size: 14px;">
          <i class="bi bi-plus me-2" style="font-size: 1rem;"></i>
          <span>Add New</span>
        </button>
      </div>
    </div>


  <div *ngIf="isSubjects"  class="container">
    <table class="custom-table">
      <tr>
        <td style="width: 15%; text-align: start;  font-size: 16px;">Art Concept</td>
        <td style="width: 30%; text-align: start;">Beginner</td>
        <td class="action-icons"  style="width: 10%; align-items: end;">
          <i class="bi bi-pencil-square"></i>
          <i class="bi bi-trash"></i>
        </td>
      </tr>
  </table>
  </div>

  <div *ngIf="!isSubjects" class="container">
    <p>please add subjects </p>
  </div>


  </div>
