<div class="container-fluid mt-5">
  <h5 class="mb-3">Job Applicants</h5>

    <!-- Table will be responsive on smaller screens -->
    <div *ngIf="jobs.length > 0" class="table-responsive mb-5">
      <table class="table table-bordered text-center">
        <thead class="table-light" style="font-size: 14px;">
          <tr>
            <th scope="col">S.No</th>
            <th scope="col">Job ID</th>
            <th scope="col">Job Role</th>
            <th scope="col">Applicants</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody style="font-size: 14px;">
          <tr *ngFor="let job of jobs; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ job.jobPostDetails.jobId }}</td>
            <td>{{ job.jobPostDetails.jobRoleTitle }}</td>
            <td>{{ job.totalApplicants }}</td>
            <td>
              <div class="d-flex justify-content-evenly align-items-center">
                <button class="btn btn-sm btn-info" (click)="viewApplicants(job)">
                  View Applicants
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- No Data View -->
  <div *ngIf="jobs.length === 0" class="container d-flex flex-column justify-content-center align-items-center text-center">
    <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1716276008/No_data-amico_zhoryt.svg"
         class="img-fluid"
         alt="No Data"
         style="max-height: 550px; max-width: 550px; margin-bottom: 10px;">
  </div>
