<app-app-header></app-app-header>
<!--Landing Page -->
<section id="landing page">
    <div class="container-xl p-5 bg-white">
        <div class="container p-5 mb-5 mt-5">
        <div class="row p-5" style="width: 1600; height:780; margin-top: 40px; margin-bottom: 40px;">
            <div class="col justify-content-center pt-5 mt-5">
                <h1 class="text-center display-4 fw-bold p-3 text-black">Welcome to creative talent hub</h1>
                <p class=" text-center justify-content-md-center text-black">We're Shaping the Future of Animation
                    and Game Development with AR/VR Technology.</p>
            </div>
        </div>
    </div>
    </div>
</section><!-- End landing -->

<!--Hero section -->
<section id="hero section">
    <div class="container-xl p-5  ">
        <div class="container p-5 mb-5 mt-5">
        <div class="row p-5 mt-5 mb-5" style="width:1078; height:200; margin-top: 40px; margin-bottom: 40px;">
            <div class="p-5 text-center  rounded-3">
                <h1 class="text-body-emphasis mt-5">Imagine a world of Opportunities</h1>
                <p class="col-lg-6 mx-auto mb-4 mt-4">This Isn't Just A Dream <br>It's A Reality We're Striving For</p>
                <button class="btn btn-dark px-4 mb-5 rounded-4" type="button">
                    Learn more
                </button>
            </div>

        </div>
    </div>

    </div>
</section><!-- End hero -->

<!--feature section  -->
<section id="feature section">
    <div class="container-fluid px-4 py-5 bg-white">
        <div class="col">
            <div class="container-fluid p-5 justify-content-md-center rounded-4">
                <div class="row row-cols-1 row-cols-lg-4 g-5  justify-content-between mt-5 px-3">
                    
                <!--feature card 1-->
                  <div class="card mb-5 rounded-4 bg-body-secondary" style="width:320px; margin-top:5px;">
                      <div class="feature col">
                
                        <div class="col mt-3">
                          <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-white fs-2 mb-3 mt-3">
                            <i class="bi bi-book-half"></i>
                          </div>
                        </div>
                
                      <div class=" position-sticky  mb-5">
                        <h3 class="fs-2 text-body-emphasis mt-2">Learn</h3>
                        <p>Discover a Repository of 1000+ Animation and Game Development Resources & Elevate Your Skills</p>
                      </div>

                      <div class="col">
                        <a href="#" class="btn btn-primary d-inline-flex mt-2 rounded-5 px-3 mb-5">Explore Now <i class="bi bi-box-arrow-up-right px-3" style="width: 30px;"></i></a>
                      </div>
                
                    </div>
                  </div>

                <!--feature card 2-->
                  <div class="card mb-5 rounded-4 bg-body-secondary" style="width:320px; margin-top:5px;">
                    <div class="feature col">
              
                      <div class="col mt-3">
                        <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-white fs-2 mb-3 mt-3">
                            <i class="bi bi-badge-3d"></i>
                        </div>
                      </div>
              
                    <div class="col mb-5">
                      <h3 class="fs-2 text-body-emphasis mt-2">Create</h3>
                      <p>Craft Immersive Animation and Game Development Experiences.Investigate the Tools and Resources Available.</p>
                    </div>

                    <div class="col">
                        <a href="#" class="btn btn-primary d-inline-flex mt-2 rounded-5 px-3 mb-5">Explore Now <i class="bi bi-box-arrow-up-right px-3" style="width: 30px;"></i></a>
                    </div>
              
                  </div>
                  </div>

                <!--feature card 3-->
                  <div class="card mb-5 rounded-4 bg-body-secondary" style="width:320px; margin-top:5px;">
                    <div class="feature col">
              
                      <div class="col mt-3">
                        <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-white fs-2 mb-3 mt-3">
                            <i class="bi bi-upload"></i>
                        </div>
                      </div>
              
                    <div class="col mb-5">
                      <h3 class="fs-2 text-body-emphasis mt-2">Publish</h3>
                      <p>Develop and Launch Your Creations. Utilize the Platform for Hosting Your Content & Access Analytics.</p>
                    </div>


                    <div class="col">
                        <a href="#" class=" btn btn-primary d-inline-flex mt-2 rounded-5 px-3 mb-5">Explore Now <i class="bi bi-box-arrow-up-right px-3" style="width: 30px;"></i></a>
                    </div>
              
                  </div>
                  </div>

                <!--feature card 4-->
                  <div class="card mb-5 rounded-4 bg-body-secondary" style="width:320px; margin-top:5px;">
                    <div class="feature col">
              
                      <div class="col mt-3">
                        <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-white fs-2 mb-3 mt-3">
                            <i class="bi bi-cash"></i>
                        </div>
                      </div>
              
                    <div class="col mb-5">
                      <h3 class="fs-2 text-body-emphasis mt-2">Earn</h3>
                      <p>Attract Attention from Leading Recruiters in the Animation and Game Development Industry.</p>
                    </div>

                    <div class="col">
                        <a href="#" class="btn btn-primary d-inline-flex mt-2 rounded-5 px-3 mb-5">Explore Now <i class="bi bi-box-arrow-up-right px-3" style="width: 30px;"></i></a>
                    </div>
              
                  </div>
                  </div>
                
                </div>
            </div>
        </div>
    </div>



</section><!-- End feature -->

<!--gallery section -->
<section id="gallery section">
    <div class="container-fluid p-5 white">
        <div class="container-xl">
            <div class="row p-5 g-4" style="width: 1600; height:780;">
                
                <div class="col-lg-6 d-flex flex-column justify-content-center pt-4">
                    <h1 class="fw-bold text-black">Unlock boundless <br> creative potential </h1>
                    <p class="fw-lighttext-black ">Discover an extensive collection of extended reality courses to
                        enhance<br> your skills in animation and game development.</p>
                    <p><a href="#" class="btn btn-primary d-inline-flex mb-2">Explore Now <i
                                class="bi bi-box-arrow-up-right" style="width: 25px;"></i></a></p>
                </div>

                <div class="col-lg-6 d-flex flex-column justify-content-center bg-white rounded-3 mb-5"
                    style="width: 600px; height: 650px; align-items: center;">
                    <div class="row row-cols-sm-3 g-5 mb-4"
                        style="width: 500px; height: 600px;  align-items: center; justify-content: center;">

                        <div class="col ">
                            <div class="card" style="width: 150px; height: 150px;">
                                <img src="/creative-dev-connect-hub/src/assets//Main page/Image gallery/ai-generated-concept-human_23-2150688369.jpg"
                                    class="rounded-3">
                            </div>
                        </div>

                        <div class="col ">
                            <div class="card" style="width: 150px; height: 150px;">
                                <img src="/creative-dev-connect-hub//src//assets//Main page/Image gallery/ai-generated-concept-human_23-2150688369.jpg"
                                    class="rounded-3">
                            </div>
                        </div>

                        <div class="col ">
                            <div class="card" style="width: 150px; height: 150px;">
                                <img src="/creative-dev-connect-hub//src//assets//Main page/Image gallery/ai-generated-concept-human_23-2150688369.jpg"
                                    class="rounded-3">
                            </div>
                        </div>

                        <div class="col ">
                            <div class="card" style="width: 150px; height: 150px;">
                                <img src="/creative-dev-connect-hub//src//assets//Main page/Image gallery/ai-generated-concept-human_23-2150688369.jpg"
                                    class="rounded-3">
                            </div>
                        </div>

                        <div class="col ">
                            <div class="card" style="width: 150px; height: 150px;">
                                <img src="/creative-dev-connect-hub//src//assets//Main page/Image gallery/ai-generated-concept-human_23-2150688369.jpg"
                                    class="rounded-3">
                            </div>
                        </div>

                        <div class="col ">
                            <div class="card" style="width: 150px; height: 150px;">
                                <img src="/creative-dev-connect-hub//src//assets//Main page/Image gallery/ai-generated-concept-human_23-2150688369.jpg"
                                    class="rounded-3">
                            </div>
                        </div>

                        <div class="col ">
                            <div class="card" style="width: 150px; height: 150px;">
                                <img src="/creative-dev-connect-hub//src//assets//Main page/Image gallery/ai-generated-concept-human_23-2150688369.jpg"
                                    class="rounded-3">
                            </div>
                        </div>

                        <div class="col ">
                            <div class="card" style="width: 150px; height: 150px;">
                                <img src="/creative-dev-connect-hub//src//assets//Main page/Image gallery/ai-generated-concept-human_23-2150688369.jpg"
                                    class="rounded-3">
                            </div>
                        </div>

                        <div class="col ">
                            <div class="card" style="width: 150px; height: 150px;">
                                <img src="/creative-dev-connect-hub//src//assets//Main page/Image gallery/ai-generated-concept-human_23-2150688369.jpg"
                                    class="rounded-3">
                            </div>
                        </div>

                    </div>


                </div>

            </div>
        </div>
    </div>

</section><!-- End gallery -->

<!--playstation section -->
<section id="playstation section">
    <div class="container-xl p-5 mt-5 bg-white">

        <div class="flex-md-equal w-100 my-md-3 ps-md-3">
            <h2 class="display-6 fw-bold mb-5 text-black text-center">Deploy and publish your own game and play
                limitless</h2>
        </div>

        <div class="container p-5 bg-body-secondary rounded-4">
            <div class="row  justify-content-center">

                <div class="col-md-6">
                    <div class="bg-image">
                        <p class="text-sm-center text-black fw-lighttext-black">Embark on a journey into a new dimension of learning
                        </p>
                        <h2 class="fs-5 text-sm-center mb-5 text-black">Game development and animation with the PlayStation cutting-edge technology.</h2>
                        <img src="/creative-dev-connect-hub/src/assets/Main page/Playstation/DualSense-Edge-image-block-01-en-24aug22.webp"
                            style="width: 250px; height:150px; margin: 0 auto; display: block; margin-top: 15px;">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="video-container">
                        <video controls style="width:100%">
                            <source
                                src="/creative-dev-connect-hub/src/assets/Main page/Playstation/Breathtaking Immersion _ PS5.mp4"
                                type="video/mp4">
                        </video>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>

<!-- End playstation -->
<section id="software section">
    <div class="container-xl p-5 mt-5 bg-white">

        <div class="flex-md-equal w-100 my-md-3 ps-md-3">
            <h2 class="display-6 fw-bold mb-5 text-black text-center">Learn the softwares that are essential for industry growth</h2>
        </div>

        <div class="container p-5 mb-5 bg-body-secondary rounded-4">
            <div class="row row-cols-1 row-cols-sm-6 g-2 g-md-1 mb-5 mt-1">

                <div class="col">
                    <div class="p-3">
                        <div class="col">
                            <div class="card" style="width: 150px; height: 150px;">
                                <img src="/creative-dev-connect-hub//src//assets//Main page/Image gallery/ai-generated-concept-human_23-2150688369.jpg"
                                    class="rounded-3" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="p-3">
                        <div class="col">
                            <div class="card" style="width: 150px; height: 150px;">
                                <img src="/creative-dev-connect-hub//src//assets//Main page/Image gallery/ai-generated-concept-human_23-2150688369.jpg"
                                    class="rounded-3" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="p-3">
                        <div class="col">
                            <div class="card" style="width: 150px; height: 150px;">
                                <img src="/creative-dev-connect-hub//src//assets//Main page/Image gallery/ai-generated-concept-human_23-2150688369.jpg"
                                    class="rounded-3" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="p-3">
                        <div class="col">
                            <div class="card" style="width: 150px; height: 150px;">
                                <img src="/creative-dev-connect-hub//src//assets//Main page/Image gallery/ai-generated-concept-human_23-2150688369.jpg"
                                    class="rounded-3" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="p-3">
                        <div class="col">
                            <div class="card" style="width: 150px; height: 150px;">
                                <img src="/creative-dev-connect-hub//src//assets//Main page/Image gallery/ai-generated-concept-human_23-2150688369.jpg"
                                    class="rounded-3" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="p-3">
                        <div class="col">
                            <div class="card" style="width: 150px; height: 150px;">
                                <img src="/creative-dev-connect-hub//src//assets//Main page/Image gallery/ai-generated-concept-human_23-2150688369.jpg"
                                    class="rounded-3" alt="">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>

<app-app-footer></app-app-footer>
