<app-app-header ></app-app-header>

<section id="landing page">

    <div class="container-xl p-5 mt-5 rounded-5" style="background: #11131c;">

        <div class="container mt-5" style=" -webkit-backdrop-filter: blur(15px);backdrop-filter: blur(15px);" >

            <div class="row d-flex justify-content-center g-5">
                
                <div class="col-6  d-flex flex-column justify-content-center ">
                    <h1 class="fw-bold display-5 text-white">From Vision to Virtual: Explore the Power of AR and VR</h1>
                    <p class="fw-light text-white">Discover an extensive collection of extended reality courses to enhance<br> your skills in animation and game development.</p>
                </div>

                <div class="col-6 mb-5  d-flex justify-content-center bg-dark" style="width: 460px; height:460px; border-radius:30%; overflow: hidden;">
                    <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1735309414/3d-rendering-vr-glasses-cinema-removebg-preview_ezaj7j.png" alt="" class="img-fluid" style="object-fit: cover; width: 100%; height: 100%; border-radius: 20%;">
                </div>
                
            </div>

        </div>
    </div>

</section>

<section id="hero section">
    <div class="container-xl p-5 mt-5 rounded-5" style="background: #11131c;">


        <div class="container mt-5 mb-5 p-5 rounded-5" style="background: radial-gradient(circle, rgba(255, 255, 255, 0.648), #11131c);   position: relative;  overflow: hidden;">
          <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1735717423/brain_2-removebg-preview_o2i3vb.png"  alt="AR/VR Background"  style=" position: absolute;  top: 0;  left: 0;  width: 100%;  height: 700px;  object-fit: cover; z-index: 1; opacity: 0.3;"> <!-- Adjust opacity as needed -->
      
          <div style="position: relative; z-index: 2; text-align: center;">
          
            <div class="row" style=" margin-top: 40px; margin-bottom: 40px;">
                <div class=" text-center  rounded-3">
                    <h1 class=" mt-5 text-white">Imagine a world of Opportunities</h1>
                    <p class="col-lg-6 mx-auto mb-4 mt-4 text-white">This Isn't Just A Dream <br>It's A Reality We're Striving For</p>
                    <button class="btn btn-dark px-4 mb-5 rounded-4" type="button">Learn more</button>
                </div>
            </div>

          </div>
      </div>
    
    
    </div>
</section>

<section id="feature section">
    <div class="container-xl p-5 mt-5 rounded-5" style="background: #11131c;">
        <div class="container mt-5 mb-5 p-5 ">
            <div class="row ">

                <!--feature card 1-->
                <div class="col-3  d-flex justify-content-center">
                    <div class="card rounded-4 bg-dark w-100">
                        <div class="feature col text-center">
                            
                            <!-- Icon Section -->
                            <div class="col mt-3">
                                <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-white fs-2 mb-3 mt-3" style="border-radius: 50%; padding: 10px;">
                                    <i class="bi bi-book-half"></i>
                                </div>
                            </div>
                
                            <!-- Text Section -->
                            <div class="position-sticky mb-5">
                                <h3 class="fs-2 text-white mt-2">Learn</h3>
                                <p class="text-secondary">Discover a Repository of 1000+ Animation and Game Development Resources & Elevate Your Skills</p>
                            </div>
                
                            <!-- Button Section -->
                            <div class="col">
                                <a href="#" class="btn btn-primary d-inline-flex mt-2 rounded-3 px-3 mb-5">Explore Now <i class="bi bi-box-arrow-up-right px-3" style="width: 30px;"></i></a>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
                <!--feature card 2-->
                <div class="col-3 d-flex justify-content-center">
                    <div class="card rounded-4 bg-dark w-100">
                        <div class="feature col text-center">
                            
                            <!-- Icon Section -->
                            <div class="col mt-3">
                                <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-white fs-2 mb-3 mt-3" style="border-radius: 50%; padding: 10px;">
                                    <i class="bi bi-badge-3d"></i>
                                </div>
                            </div>
                
                            <!-- Text Section -->
                            <div class="position-sticky mb-5">
                                <h3 class="fs-2 text-white mt-2">Create</h3>
                                <p class="text-secondary">Craft Immersive Animation and Game Development Experiences.Investigate the Tools and Resources Available.</p>
                            </div>
                
                            <!-- Button Section -->
                            <div class="col">
                                <a href="#" class="btn btn-primary d-inline-flex mt-2 rounded-3 px-3 mb-5">Explore Now <i class="bi bi-box-arrow-up-right px-3" style="width: 30px;"></i></a>
                            </div>
                            
                        </div>
                    </div>
                </div>

                <!--feature card 3-->
                <div class="col-3 d-flex justify-content-center">
                    <div class="card rounded-4 bg-dark w-100">
                        <div class="feature col text-center">
                            
                            <!-- Icon Section -->
                            <div class="col mt-3">
                                <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-white fs-2 mb-3 mt-3" style="border-radius: 50%; padding: 10px;">
                                    <i class="bi bi-upload"></i>
                                </div>
                            </div>
                
                            <!-- Text Section -->
                            <div class="position-sticky mb-5">
                                <h3 class="fs-2 text-white mt-2">Publish</h3>
                                <p class="text-secondary">Develop and Launch Your Creations. Utilize the Platform for Hosting Your Content & Access Analytics.</p>
                            </div>
                
                            <!-- Button Section -->
                            <div class="col">
                                <a href="#" class="btn btn-primary d-inline-flex mt-2 rounded-3 px-3 mb-5">Explore Now <i class="bi bi-box-arrow-up-right px-3" style="width: 30px;"></i></a>
                            </div>
                            
                        </div>
                    </div>
                </div>

                <!--feature card 4-->
                <div class="col-3 d-flex justify-content-center">
                    <div class="card rounded-4 bg-dark w-100">
                        <div class="feature col text-center">
                            
                            <!-- Icon Section -->
                            <div class="col mt-3">
                                <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-white fs-2 mb-3 mt-3" style="border-radius: 50%; padding: 10px;">
                                    <i class="bi bi-cash"></i>
                                </div>
                            </div>
                
                            <!-- Text Section -->
                            <div class="position-sticky mb-5">
                                <h3 class="fs-2 text-white mt-2">Earn</h3>
                                <p class="text-secondary">Attract Attention from Leading Recruiters in the Animation and Game Development Industry.</p>
                            </div>
                
                            <!-- Button Section -->
                            <div class="col">
                                <a href="#" class="btn btn-primary d-inline-flex mt-2 rounded-3 px-3 mb-5">Explore Now <i class="bi bi-box-arrow-up-right px-3" style="width: 30px;"></i></a>
                            </div>
                            
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section id="gallery section">
    <div class="container-xl p-5 mt-5 rounded-5" style="background: #11131c;">
        <div class="container mt-5 mb-5 p-5 ">

            <div class="row d-flex align-items-center justify-content-center g-3" style="width: 100%; height: 100%;">
                
                <div class="col-6  d-flex flex-column justify-content-center ">
                    <h1 class="fw-bold text-white">Unlock boundless <br> creative potential </h1>
                    <p class="fw-light text-white">Discover an extensive collection of extended reality courses to enhance<br> your skills in animation and game development.</p>
                    <p><a href="#" class="btn btn-primary d-inline-flex mb-2">Explore Now <i class="bi bi-box-arrow-up-right" style="width: 25px;"></i></a></p>
                </div>

                <div class="col-6 ">

                    <div class="container bg-dark p-5 rounded-4" style="width: 600px; border: 1px solid transparent; transition: box-shadow 0.3s ease-in-out, border 0.3s ease-in-out;" onmouseover="this.style.boxShadow='0 0 10px 5px rgba(0, 149, 255, 0.7)'; this.style.border='1px solid rgba(0, 0, 255, 0.7)';" onmouseout="this.style.boxShadow='0 0 10px 5px rgba(0, 149, 255, 0)'; this.style.border='1px solid transparent';">
                    
                        <div class="row row-cols-3 g-4">
                            <div class="col">
                                <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1735285535/nature-abstract-autumn-illustration-leaf-season-tree-generative-ai_r4qmc1.jpg" class="card-img-top rounded-3" style="height: 120px; width: 100%; object-fit: cover;">
                            </div>
                    
                            <div class="col">
                                <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1735285533/view-dramatic-chess-pieces-with-mysterious-mystical-ambiance_23-2150844691_b9egoj.jpg" class="card-img-top rounded-3" style="height: 120px; width: 100%; object-fit: cover;">
                            </div>
                    
                            <div class="col">
                                <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1735285533/women-buddhism-gold-statue-spirituality-generated-by-artificial-intelligence_188544-84586_ycyuwq.jpg" class="card-img-top rounded-3" style="height: 120px; width: 100%; object-fit: cover;">
                            </div>
                    
                            <div class="col">
                                <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1735285530/illuminati-secret-society-symbol_23-2150289021_uw3ren.jpg" class="card-img-top rounded-3" style="height: 120px; width: 100%; object-fit: cover;">
                            </div>
                    
                            <div class="col">
                                <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1735285530/colorful-fantastical-depiction-brain_23-2150833967_ojzt90.jpg" class="card-img-top rounded-3" style="height: 120px; width: 100%; object-fit: cover;">
                            </div>
                    
                            <div class="col">
                                <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1735285530/ai-generated-concept-human_23-2150688433_bvz5b9.jpg" class="card-img-top rounded-3" style="height: 120px; width: 100%; object-fit: cover;">
                            </div>
                    
                            <div class="col">
                                <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1735285529/ai-generated-concept-human_23-2150688369_oxzvsh.jpg" class="card-img-top rounded-3" style="height: 120px; width: 100%; object-fit: cover;">
                            </div>
                    
                            <div class="col">
                                <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1720936231/modern-smart-luxury-city-view-modern-luxury-smart-city--futuristic-bike--sf-intricate-artwork-ma-52381324_da3nlq.png" class="card-img-top rounded-3" style="height: 120px; width: 100%; object-fit: cover;">
                            </div>
                    
                            <div class="col">
                                <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1710832319/b6d66cf2977249409f8fd98fb62fda03_v9gcbq.jpg" class="card-img-top rounded-3" style="height: 120px; width: 100%; object-fit: cover;">
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</section>

<section id="playstation section">
    <div class="container-xl p-5 mt-5 rounded-5" style="background: #11131c;">
        <div class="container mt-5 mb-5 p-5" >
        
                <div class="flex-md-equal w-100 my-md-3 ps-md-3">
                    <h3 class="display-6 fw-bold mb-5 text-white text-center">Deploy and publish your own game and play limitless</h3>
                </div>
        
                <div class="container p-5 bg-body-secondary rounded-4" style="border: 1px solid transparent; transition: box-shadow 0.3s ease-in-out, border 0.3s ease-in-out;"
                    onmouseover="this.style.boxShadow='0 0 10px 5px rgba(0, 149, 255, 0.7)'; this.style.border='1px solid rgba(0, 0, 255, 0.7)';"
                    onmouseout="this.style.boxShadow='0 0 10px 5px rgba(0, 149, 255, 0)'; this.style.border='1px solid transparent';">
                    <div class="row  justify-content-center">
        
                        <div class="col-md-6 bg-dark rounded-5">
                            <div class="bg-image">
                                <p class="text-sm-center text-white fw-light mt-5">Embark on a journey into a new dimension of learning</p>
                                <p class="text-sm-center  text-white" style="font-size: 18px;">Game development and animation with the PlayStation cutting-edge technology.</p>
                                <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1735285529/DualSense-Edge-image-block-01-en-24aug22_czvguf.webp"  style="width: 200px; height: auto; display: block; margin: 0 auto; margin-bottom: 20px; margin-top: -10px;">                                  
                            </div>
                        </div>
        
                        <div class="col-md-6">
                            <div class="video-container ">
                                <video autoplay controls style="width:100%;" class="rounded-5">
                                    <source src="https://res.cloudinary.com/dpp8aspqs/video/upload/v1729659614/UNCHARTED__The_Lost_Legacy_-_Launch_Trailer___PS4_x8quss.mp4">
                                </video>
                            </div>
                        </div>
        
                    </div>
                </div>

            </div>
        </div>
</section>

<section id="software section">
    <div class="container-xl p-5 mt-5 mb-5 rounded-5" style="background: #11131c;">
        <div class="container mt-5 mb-5 p-5" >
        <div class="flex-md-equal w-100 my-md-3 ps-md-3">
            <h2 class="display-6 fw-bold mb-5 text-white text-center">Learn the softwares that are essential for industry growth</h2>
        </div>

        <div class="container p-5 mb-5 bg-dark rounded-4" style=" border: 1px solid transparent; transition: box-shadow 0.3s ease-in-out, border 0.3s ease-in-out;" onmouseover="this.style.boxShadow='0 0 10px 5px rgba(0, 149, 255, 0.7)'; this.style.border='1px solid rgba(0, 0, 255, 0.7)';" onmouseout="this.style.boxShadow='0 0 10px 5px rgba(0, 149, 255, 0)'; this.style.border='1px solid transparent';">
            <div class="row row-cols-1 row-cols-sm-6 g-2 g-md-1  mt-1">

                <div class="col">
                    <div class="p-3">
                        <div class="col">
                            <div class="card" style="width: 150px; height: 150px; align-items: center; justify-content: center;">
                                <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1735285532/unreal-1_mbfl9h.svg" style="height: 120px; width: 120px;" class="rounded-3">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="p-3">
                        <div class="col">
                            <div class="card" style="width: 150px; height: 150px; align-items: center; justify-content: center;">
                                <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1735285530/meta-logo-facebook-svgrepo-com_gzn6ti.svg" style="height: 120px; width: 120px;" class="rounded-3">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="p-3">
                        <div class="col">
                            <div class="card" style="width: 150px; height: 150px; align-items: center; justify-content: center;">
                                <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1735285531/Three.js_Icon_aaceut.svg" style="height: 120px; width: 120px;" class="rounded-3">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="p-3">
                        <div class="col">
                            <div class="card" style="width: 150px; height: 150px; align-items: center; justify-content: center;">
                                <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1735285529/3749579-modified_zp4hhy.png" style="height: 120px; width: 120px;" class="rounded-3">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="p-3">
                        <div class="col">
                            <div class="card" style="width: 150px; height: 150px; align-items: center; justify-content: center;">
                                <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1735285531/unity-69_dxelte.svg" style="height: 120px; width: 120px;" class="rounded-3">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="p-3">
                        <div class="col">
                            <div class="card" style="width: 150px; height: 150px; align-items: center; justify-content: center;">
                                <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1735285529/google-arcore_cngs3b.svg" style="height: 120px; width: 120px;" class="rounded-3">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    </div>
</section>

<app-app-footer></app-app-footer>
