<div class="container ">
    <h4>Current/Most Recent Course</h4>
    <p>Game developer course</p>
    <hr>
    <table class="table" >
        <tbody>
          <tr>
            <td style="width: 20%; border: none;">Institution:</td>
            <td style="border: none;"> SRM Unversity, chennai</td>
          </tr>
          <tr>
            <td style="border: none;">Department:</td>
            <td style="border: none;">Game developer animation</td>
          </tr>
          <tr>
            <td style="border: none;">Program/Degree:</td>
            <td style="border: none;"> B.Des</td>
          </tr>
          <tr>
            <td style="border: none;">Branch/Specialization:</td>
            <td style="border: none;">Branch Name</td>
          </tr>
          <tr>
            <td style="border: none;">Institutional Roll No:</td>
            <td style="border: none;">123456789</td>
          </tr>
        </tbody>
      </table>

</div>


