<div class="container">
    <h4>Basic Details</h4>
    <p>About</p>
    <hr>
    <p>Full Name : Seeker Name</p>
    <p>Date Of Birth : 08 November, 2001</p>
    <p>Gender : Male</p>
    <p>College Name: SRM Unversity, chennai</p>

    <p>Summary</p>
    <hr>
    <p>I am Siva Prasad studying  civil engineering with computer applications.
       I am interested in 3D Modelling design and want to persue my  career in Architecture field.
       Had a basic knowledge of HTML,CSS.
    </p>



    <p>Address</p>
    <hr>
    <p>Permanent Address: Sample Address</p>
    <p>Current Address: Sample Address</p>



    
    <p>Social Media Accounts & Profiles</p>
    <hr>

        <div class="row d-flex">
            <div class="col-4">
                <p>
                    <a href="https://linkedin.com" target="_blank" style="color: #000; text-decoration: none; transition: color 0.3s;">
                        <i class="bi bi-linkedin" style="margin-right: 5px;"></i> LinkedIn
                    </a>
                </p>
            </div>
            <div class="col-4">
                <p>
                    <a href="https://github.com" target="_blank" style="color: #000; text-decoration: none; transition: color 0.3s;">
                        <i class="bi bi-github" style="margin-right: 5px;"></i> GitHub
                    </a>
                </p>
            </div>
            <div class="col-4">
                <p>
                    <a href="https://example.com" target="_blank" style="color: #000; text-decoration: none; transition: color 0.3s;">
                        <i class="bi bi-globe" style="margin-right: 5px;"></i> Website
                    </a>
                </p>
            </div>
    </div>
    



</div>
