<div class="container p-5 bg-body-secondary mt-5">

    <div class="card">
        <div class="card-body">
        
            <div class="row d-flex align-items-center mb-3">
                <div class="col">
                    <h5 style="margin: 0;">Resumes</h5>
                </div>
                <div class="col text-end">
                    <button class="btn btn-primary btn-sm px-3 d-flex align-items-center justify-content-center rounded-0"
                        style="font-size: 14px;">
                        <i class="bi bi-plus me-2" style="font-size: 1rem;"></i>
                        <span>Add Resume</span>
                    </button>
                </div>
            </div>
        
            <div class="container p-5">
                <div class="col" style="margin: auto;  width: 80%; text-align: center;">
                    <p style="font-size: 20px; font-weight: bold;">My Resumes</p>
                    <hr class="mt-0" >
                </div>

                <div class="list-group" style="margin: auto;  width: 80%; ">

                    <div class="list-group-item list-group-item-action d-flex align-items-center" style="cursor: pointer; border: none; border-radius: 0px; ">
                      
                        <div class="card" style="width: 12rem; height: 6rem; overflow: hidden; border-radius: 0px; flex-shrink: 0;">
                            <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1720799086/7_bvvmfj.jpg"  alt="Seeker Avatar" style="width: 100%; height: 100%; object-fit: cover;">
                        </div>
                      
                          <!-- Details Section -->
                        <div class="flex-grow-1" style="padding-left: 20px;">
                            <div style="font-weight: bold; font-size: 18px;">Seeker Name</div>
                            <div style="color: gray; font-size: 16px;">Modern Theme Template | Created Dec 09, 2024, 12:00 PM</div>
                        </div>
                      
                          <!-- Action Section -->
                        <div style="margin-right: 30px;">
                            <i class="bi bi-download" style="font-size: 20px; cursor: pointer; "></i>
                        </div>
                          
                    </div>

                    <div class="list-group-item list-group-item-action d-flex align-items-center" style="cursor: pointer;  border: none; border-radius: 0px; ">
                      
                        <div class="card" style="width: 12rem; height: 6rem; overflow: hidden; border-radius: 0px; flex-shrink: 0;">
                            <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1720799086/7_bvvmfj.jpg"  alt="Seeker Avatar" style="width: 100%; height: 100%; object-fit: cover;">
                        </div>
                      
                          <!-- Details Section -->
                        <div class="flex-grow-1" style="padding-left: 20px;">
                            <div style="font-weight: bold; font-size: 18px;">Seeker Name</div>
                            <div style="color: gray; font-size: 16px;">Dark Blue Theme Template | Created Dec 09, 2024, 12:00 PM</div>
                        </div>
                      
                          <!-- Action Section -->
                        <div style="margin-right: 30px;">
                            <i class="bi bi-download" style="font-size: 20px; cursor: pointer; "></i>
                        </div>
                          
                    </div>

                    <div class="list-group-item list-group-item-action d-flex align-items-center" style="cursor: pointer;  border: none; border-radius: 0px; ">
                      
                        <div class="card" style="width: 12rem; height: 6rem; overflow: hidden; border-radius: 0px; flex-shrink: 0;">
                            <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1713107223/Screenshot_2024-04-14_203418-removebg-preview_hg6usb.png"  alt="Seeker Avatar" style="width: 100%; height: 100%; object-fit: cover;">
                        </div>
                      
                          <!-- Details Section -->
                        <div class="flex-grow-1" style="padding-left: 20px;">
                            <div style="font-weight: bold; font-size: 18px;">Seeker Name</div>
                            <div style="color: gray; font-size: 16px;">Light Blue Theme Template | Created Dec 09, 2024, 12:00 PM</div>
                        </div>
                      
                          <!-- Action Section -->
                        <div style="margin-right: 30px;">
                            <i class="bi bi-download" style="font-size: 20px; cursor: pointer; "></i>
                        </div>
                          
                    </div>

                    <div class="list-group-item list-group-item-action d-flex align-items-center" style="cursor: pointer;  border: none; border-radius: 0px; ">
                      
                        <div class="card" style="width: 12rem; height: 6rem; overflow: hidden; border-radius: 0px; flex-shrink: 0;">
                            <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1713107223/Screenshot_2024-04-14_203418-removebg-preview_hg6usb.png"  alt="Seeker Avatar" style="width: 100%; height: 100%; object-fit: cover;">
                        </div>
                      
                          <!-- Details Section -->
                        <div class="flex-grow-1" style="padding-left: 20px;">
                            <div style="font-weight: bold; font-size: 18px;">Seeker Name</div>
                            <div style="color: gray; font-size: 16px;">Light Theme Template | Created Dec 09, 2024, 12:00 PM</div>
                        </div>
                      
                          <!-- Action Section -->
                        <div style="margin-right: 30px;">
                            <i class="bi bi-download" style="font-size: 20px; cursor: pointer; "></i>
                        </div>
                          
                    </div>

                    <div class="list-group-item list-group-item-action d-flex align-items-center" style="cursor: pointer;  border: none; border-radius: 0px; ">
                      
                        <div class="card" style="width: 12rem; height: 6rem; overflow: hidden; border-radius: 0px; flex-shrink: 0;">
                            <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1713107223/Screenshot_2024-04-14_203418-removebg-preview_hg6usb.png"  alt="Seeker Avatar" style="width: 100%; height: 100%; object-fit: cover;">
                        </div>
                      
                          <!-- Details Section -->
                        <div class="flex-grow-1" style="padding-left: 20px;">
                            <div style="font-weight: bold; font-size: 18px;">Seeker Name</div>
                            <div style="color: gray; font-size: 16px;">Dark Theme Template | Created Dec 09, 2024, 12:00 PM</div>
                        </div>
                      
                          <!-- Action Section -->
                        <div style="margin-right: 30px;">
                            <i class="bi bi-download" style="font-size: 20px; cursor: pointer; "></i>
                        </div>
                          
                    </div>

                </div>
                    
            </div>
            
        </div>
    </div>

</div>