
<div *ngIf="jobs.length > 0" class="container mt-3">
    <h5>Active Job Posts</h5>
    <app-job-table  [jobs]="jobs"  (jobReopen)="onJobReopened($event)"  (jobDeleted)="onJobDeleted($event)"></app-job-table>
</div>


<div *ngIf="jobs.length == 0">
    <div class="container d-flex flex-column justify-content-center align-items-center text-center">
      <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1716276008/No_data-amico_zhoryt.svg" style="height: 550px; width: 550px; margin-bottom: 10px;">
    </div>
</div>



<!-- <div class="container ">
    <h5>Closed Job Posts</h5>
    <app-job-table *ngIf="jobs.length > 0" [jobs]="jobs" (jobReopen)="onJobReopened($event)" (jobDeleted)="onJobDeleted($event)"></app-job-table>
    <p *ngIf="jobs.length == 0">No closed job posts</p>
  </div> -->