<div class="container-fluid mt-5">
  <h5 class="mb-3">Close Job Posts</h5>

  <!-- Responsive Table -->
  <div *ngIf="jobs.length > 0" class="table-responsive mb-5">
    <table class="table table-bordered text-center" style="font-size: 14px;">
      <thead class="table-light">
        <tr>
          <th scope="col" style="width: 5%;">S.No</th>
          <th scope="col" style="width: 10%;">Job ID</th>
          <th scope="col" style="width: 15%;">Job Role</th>
          <th scope="col" style="width: 10%;">Job Type</th>
          <th scope="col" style="width: 10%;">Salary</th>
          <th scope="col" style="width: 10%;">Posted On</th>
          <th scope="col" style="width: 10%;">Status</th>
          <th scope="col" style="width: 25%;">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let job of jobs; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ job.jobPostDetails.jobId }}</td>
          <td>{{ job.jobPostDetails.jobRoleTitle }}</td>
          <td>{{ job.jobPostDetails.jobType }}</td>
          <td>{{ job.jobPostDetails.salary }}</td>
          <td>{{ job.jobPostDetails.postedOn | date: 'shortDate' }}</td>
          <td>{{ job.jobPostDetails.status }}</td>
          <td>
            <div class="d-flex justify-content-evenly align-items-center">
              <button class="btn btn-sm btn-info" (click)="reopenJobpostById(job)">Reopen</button>
              <button class="btn btn-sm btn-danger" (click)="deleteJobpostById(job)">Delete</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- No Data View -->
<div *ngIf="jobs.length === 0" class="container d-flex flex-column justify-content-center align-items-center text-center">
  <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1716276008/No_data-amico_zhoryt.svg"
       class="img-fluid"
       alt="No Data"
       style="max-width: 550px; max-height: 550px; margin-bottom: 10px;">
</div>
