<!--header section -->
<header>
    <nav class="navbar navbar-expand  fixed-top  bg-dark"  style="height: 60px;">
        <div class=" container-fluid">

            <div class="navbar-brand w-10 px-5">
                <a href="#" style="text-decoration: none; color: white;"><img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1737024440/Logo_qboacm.svg" alt="logo" width="50" height="50" class="me-2">Creative Hub</a>
            </div>

            <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a class="nav-link active p-4" style="width: 200px; color: white;" href="for-developer">For Developer</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active p-4" style="width: 250px; color: white;" href="learn-page">Learning and Training</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active p-4" style="width: 200px; color: white;" href="cloud-page">Cloud  Platform</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active p-4" style="width: 150px; color: white;" href="community-page">Community</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active p-4" style="width: 150px; color: white;" href="market-page">Market Place</a>
                    </li>

                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle p-4" style="width:150px; color: white;" href="#" data-bs-toggle="dropdown" aria-expanded="false">Company</a>
                        <ul class="dropdown-menu " style="background-color: black;">
                            <li ><a class="dropdown-item text-white"  href="about-page">About us</a></li>
                            <li><a class="dropdown-item text-white" href="purpose-page">Purpose</a></li>
                            <li><a class="dropdown-item  text-white" href="blog-page">Blog</a></li>
                        </ul>
                    </li> -->

                    <li class="nav-item">
                        <a class="nav-link active p-4" style="color: white;" href="Support">Support</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>
<!--End header -->

