  <header>
    <nav class="navbar  shadow bg-body-secondary fixed-top" style="height: 60px;">

      <div class="navbar-brand d-flex align-items-center" style="text-decoration: none; color: black; cursor: pointer;margin-top: -10px;">
        <img class="logo" style="margin-left: 20px; margin-right: 10px;" src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1737024440/Logo_qboacm.svg" alt="logo" width="50" height="50">
        <div class="logo_name me-3">Creative Hub</div>

      </div>

      <div class="d-flex align-items-center" style="margin-right: 40px;margin-top: -10px; ">
        <button type="button" class="btn btn-light rounded-circle me-3">
          <i class="bi bi-chat-square-text" style="font-size: 1rem; color: black;"></i>
        </button>

        <button type="button" class="btn btn-light rounded-circle me-3" aria-expanded="false">
          <i class="bi bi-bell" style="font-size: 1rem; color: black;"></i>
        </button>


        <span class="me-3">Username</span>

<button class="nav-link d-flex justify-content-center align-items-center rounded-circle text-decoration-none bg-white" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
  <img [src]="'https://res.cloudinary.com/dpp8aspqs/image/upload/v1737957959/profie_images_j53njq.png'" alt="Profile Image" style="width: 35px; height: 35px; border-radius: 50%;">
</button>


        <div class="dropdown mt-5">
          <ul class="dropdown-menu dropdown-menu-end shadow">
            <li><a class="dropdown-item" style="cursor: pointer; font-size: 14px;" (click)="goToSettings()">Settings</a></li>
            <hr class="mb-0 mt-0">
            <li><a class="dropdown-item" style="cursor: pointer; font-size: 14px;">Sign Out</a></li>
          </ul>
        </div>

      </div>

    </nav>
  </header>
