<header>
  <nav class="navbar shadow bg-body-secondary fixed-top" style="height: 60px;">
    <div class="container-fluid">
      <!-- Brand Section -->
      <div class="navbar-brand d-flex align-items-center" style="text-decoration: none; color: black; cursor: pointer; margin-top: -10px;">
        <img class="logo" style="margin-left: 20px; margin-right: 10px;"
             src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1737024440/Logo_qboacm.svg"
             alt="logo" width="50" height="50">
        <div class="logo_name me-3" *ngIf="sidebarOpen">Creative Hub</div>
        <i [ngClass]="!sidebarOpen ? 'bi bi-justify' : 'bi bi-justify'"
           id="btn" style="font-size: 1.5rem;" (click)="toggle()"></i>
      </div>

      <!-- Right-Side Content -->
      <div class="d-flex align-items-center" style="margin-right: 40px; margin-top: -10px;">

        <button type="button" class="btn btn-light rounded-circle me-3">
          <i class="bi bi-bell" style="font-size: 1rem; color: black;"></i>
        </button>
        <span class="me-3">{{ userName }}</span>
        <div class="dropdown">
          <button class="nav-link d-flex justify-content-center align-items-center rounded-circle text-decoration-none bg-white"
                  data-bs-toggle="dropdown" aria-expanded="false">
            <img [src]="profile"
                 alt="Profile Image"
                 style="width: 35px; height: 35px; border-radius: 50%;">
          </button>
          <ul class="dropdown-menu dropdown-menu-end shadow">
            <li><a class="dropdown-item" (click)="goToAccountSettingsPage()">Settings</a></li>
            <li><a class="dropdown-item" (click)="goToChangePasswordPage()">Change password</a></li>
            <hr class="mb-0 mt-0">
            <li><a class="dropdown-item" style="cursor: pointer; font-size: 14px;" (click)="onLogout()">Sign Out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
