<!-- <app-app-header></app-app-header> -->

<section id="landing section">
    <div class="container-fluid p-5 " style="background-image: url(https://res.cloudinary.com/dpp8aspqs/image/upload/v1735368346/pngtree-abstract-texture-vibrant-gradient-watercolor-background-in-pink-violet-and-blue-image_13887176_ntzerz.png);  background-size: cover;">

        <div class="container p-5" style=" -webkit-backdrop-filter: blur(5px);backdrop-filter: blur(5px);" >

        <div class=" container" style="margin-top: -30px;">
            <h2 class="display-6 fw-bold text-black text-center">Where Talent Thrives</h2>
            <p class="fw-redular mb-5 text-black text-center">Here you can find the best talent which you are looking for</p>
        </div>

        <!--Talent signup-->
        <div class="container text-center mb-5 " style="margin-top: -30px;">
            <a href="talent-page/signup" target="_blank"><button type="button" class="btn btn-primary mx-3 px-4 rounded-4">Sign Up</button></a>
            <a href="talent-page/login" target="_blank"><button type="button" class="btn btn-primary mx-3 px-4 rounded-4">Sign In</button></a>
        </div>

        <div class="container  mb-5 bg-body-secondary rounded-4" style="width: 1000px; height: 500px; padding: 0;" >
            <div class="col bg-dark rounded-4" style=" width: 100%; height: 100%; border: 1px solid transparent; transition: box-shadow 0.3s ease-in-out, border 0.3s ease-in-out;  overflow: hidden; padding: 0;"
            onmouseover="this.style.boxShadow='0 0 10px 5px rgba(0, 149, 255, 0.7)'; this.style.border='1px solid rgba(0, 0, 255, 0.7)';"
            onmouseout="this.style.boxShadow='0 0 10px 5px rgba(0, 149, 255, 0)'; this.style.border='1px solid transparent'; ">
                <video controls autoplay loop muted  style="width: 100%; height: 100%; object-fit: cover; border-radius: inherit;" src="https://res.cloudinary.com/dpp8aspqs/video/upload/v1729659614/UNCHARTED__The_Lost_Legacy_-_Launch_Trailer___PS4_x8quss.mp4" type="video/mp4">Your browser does not support the video tag.</video>
            </div>
        </div>

        <div class="container-sm  text-center ">
            <div class="row row-cols-1 row-cols-md-3 ">
                <div class="col d-flex  justify-content-center">
                    <svg class="bi bg-body-secondary flex-shrink-0 me-2 rounded-4" width="5em" height="5em"></svg>
                    <div>
                        <h3 class="fw-bold mt-2 fs-4 text-black">10+</h3>
                        <p class="text-black">Talents</p>
                    </div>
                </div>

                <div class="col d-flex  justify-content-center">
                    <svg class="bi bg-body-secondary flex-shrink-0 me-2 rounded-4" width="5em" height="5em"></svg>
                    <div>
                        <h3 class="fw-bold mt-2  fs-4 text-start text-black">10+</h3>
                        <p class="text-black">Job openings</p>
                    </div>
                </div>

                <div class="col d-flex justify-content-center">
                    <svg class="bi bg-body-secondary flex-shrink-0 me-2 rounded-4" width="5em" height="5em"></svg>
                    <div>
                        <h3 class="fw-bold mt-2 fs-4 text-start  text-black">10+</h3>
                        <p class="text-black">Hiring partners</p>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </div>
</section>

<section id="cover section">
    <div class="cover-container" style="background-image: url(https://res.cloudinary.com/dpp8aspqs/image/upload/v1735285535/nature-abstract-autumn-illustration-leaf-season-tree-generative-ai_r4qmc1.jpg);  background-size: cover;" >
        <div class="overlay"></div>
        <div class="cover-content">
            <h1 class="fs-1">Where Skills Matter More <br>Than Certificates</h1>

            <div class="btn-group justify-content-between"> 
                <a><button type="button" class="btn btn-outline-dark px-5 rounded-5"><p class="text-white mt-3">NFT Artist</p></button></a>                                        
                <a><button type="button" class="btn btn-outline-dark px-5 rounded-5"><p class="text-white mt-3">3D Artist</p></button></a>                                        
                <a><button type="button" class="btn btn-outline-dark px-5 rounded-5"><p class="text-white mt-3">UX/UI Designer</p></button></a>                                        
                <a><button type="button" class="btn btn-outline-dark px-5 rounded-5"><p class="text-white mt-3">Game Developer</p></button></a>                                        
                <a><button type="button" class="btn btn-outline-dark px-5 rounded-5"><p class="text-white mt-3">Environment Artist</p></button></a>                                        
                <a><button type="button" class="btn btn-outline-dark px-5 rounded-5"><p class="text-white mt-3">Twin Architect</p></button></a>
            </div>

            <a href="talent-page/signup" target="_blank"><p class="mt-5 fs-5 text-white" style="text-decoration: underline;">Explore all job opportunities</p></a>

        </div>
    </div>

</section>


<!-- <app-app-footer></app-app-footer> -->