
<div class="container">

    <table class="table" style="border: 1px solid; width: 100%;">
      <thead style="border: 1px solid; font-size: 14px;">
        <tr style="border: 1px solid;">
          <th style="border: 1px solid; width: 5%;">S.No</th>
          <th style="border: 1px solid; width: 10%;">Job ID</th>
          <th style="border: 1px solid; width: 15%;">Job Role</th>
          <th style="border: 1px solid; width: 10%;">Job Type</th>
          <th style="border: 1px solid; width: 10%;">Location</th>
          <th style="border: 1px solid; width: 10%;">Salary</th>
  
          <th style="border: 1px solid; width: 10%;">Posted On</th>
  
          <th style="border: 1px solid; width: 10%;">Status</th>
          <th style="border: 1px solid; width: 25%;">Actions</th>
        </tr>
      </thead>
      <tbody style="border: 1px solid; font-size: 14px;">
  
          <tr style="border: 1px solid;">            
              <td style="border: 1px solid; text-align: center; ">1</td>
              <td style="border: 1px solid; text-align: center;">jobId</td>
              <td style="border: 1px solid; text-align: center;">jobRoleTitle</td>
              <td style="border: 1px solid; text-align: center;">jobType</td>
              <td style="border: 1px solid; text-align: center;">location</td>
              <td style="border: 1px solid; text-align: center;">salary</td>
  
              <td style="border: 1px solid; text-align: center;">postedOn</td>
  
              <td style="border: 1px solid; text-align: center;">status</td>
              <td style="border: 1px solid;">
                <div style=" display: flex; justify-content: space-around;">
                  <button  class="btn btn-sm btn-info"  >View</button>
                  <button class="btn btn-sm btn-warning" >Close</button>
                  <button class="btn btn-sm btn-info">Reopen</button>
                  <button class="btn btn-sm btn-danger">Delete</button>
                </div>
  
              </td>
              
          </tr>
  
  
      </tbody>
    </table>
  
  </div>
  
  
  
        
  
  
  
  
  
  
  
  
  
  
    