  .custom-table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
  }
  .custom-table th,
  .custom-table td {
    padding: 8px;
    border: 1px solid #ddd;
  }
  .custom-table td {
    text-align: center;

    background-color: #f8f9fa;

  }
  .custom-table .action-icons i {
    margin-right: 20px;
    cursor: pointer;
    font-size: 1rem;
  }

