<div class="card rounded-4 d-flex d-flex-column align-items-center bg-body-secondary" style="width: 15rem; ">

    <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1700058878/Creative-hub/ai-generated-concept-human_23-2150688361_h9vehv.jpg" alt="image" class="border border-black" style="width: 15rem; height: 10rem; border-top-right-radius: 16px; border-top-left-radius: 16px;">

    <div class="card-body bg-body-tertiary border border-black" style="width: 15rem; border-bottom-left-radius: 16px; border-bottom-right-radius: 16px;">

        <div class="user-profile rounded-4" style="text-align: center; display: flex; flex-direction: column; align-items: center; margin-top: -60px;">
            <!--usericon image -->
            <div class="bg-white" style="display: flex; justify-content: center; align-items: center; border-radius: 50%; width: 100px; height: 100px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="90" height="90" color="black" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                </svg>
            </div>
            <!--usericon image -->
        </div>

        <div class="container bg-body-secondary">
            <h2 class="fw-semibold text-center mt-2" style="font-size: 14px;">User's Name</h2>
            <p class="text-center text-black" style="font-size: 14px;">3D Designer</p>
        </div>


        <div class="container bg-body-secondary" style="display: flex; justify-content: center; align-items: center;">
            <a class="btn btn-primary px-5 rounded-3" style="font-size: 14px;" (click)="seekerProfile()">View profile</a>
        </div>

    </div>
</div>
