<app-app-header></app-app-header>
<!--Landing Page -->
 <section id="landing page">
    <div class="container-xl p-5 bg-white">
        <div class="container p-5 mb-5 mt-5">
        <div class="row p-5" style="width: 1600; height:780; margin-top: 40px; margin-bottom: 40px;">
            <div class="col justify-content-center pt-5 mt-5">
                <h1 class="text-center  fw-bold p-3 text-black">Design, Develop,<br>Test & Publish</h1>
                <p class=" text-center justify-content-md-center text-black fw-bold fs-5">Developers, build with a purpose</p>
            </div>
        </div>
    </div>
    </div>
</section><!-- End landing -->


<!--publisher section -->
<section id="publisher section">
    <div class="container-xl p-5 mt-5 bg-white">
        <div class="flex-md-equal w-100 my-md-3 ps-md-3">
            <p class="text-center fw-bold fs-5">Publisher Hub</p>
            <h2 class="display-6 fw-bold  text-black text-center">Create your own unique experience and<br> Publish your project on course library</h2>
        </div>

        <div class="container-xl p-5 mt-5 mb-5 bg-black rounded-4" style="width: 1200px; height: 500px;">
        </div>

        <div class="flex-md-equal w-100 my-md-3 ps-md-3">
            <p class="text-center fw-bold fs-5">What will you get in  publisher hub ?</p>

            <div class="row row-cols-1 row-cols-4 justify-content-betweenbg-body-secondary">
                <!--Icon 1-->
                <div class="feature col">
            
                    <div class="col d-flex justify-content-center align-items-center">
                        <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3 mt-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-journal-code"
                                viewBox="0 0 16 16">
                                <path
                                    d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z" />
                            </svg>
                        </div>
                    </div>
            
                    <div class="col">
                        <h5 class="text-center">Projects</h5>
                    </div>
            
                </div>
            
                <!--Icon 2-->
                <div class="feature col">
            
                    <div class="col d-flex justify-content-center align-items-center">
                        <div
                            class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3 mt-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-journal-code"
                                viewBox="0 0 16 16">
                                <path
                                    d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
                            </svg>
                        </div>
                    </div>
            
                    <div class="col">
                        <h5 class="text-center">Grades</h5>
                    </div>
            
                </div>
            
                <!--Icon 3-->
                <div class="feature col">
            
                    <div class="col d-flex justify-content-center align-items-center">
                        <div
                            class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3 mt-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-journal-code"
                                viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M0 0h1v15h15v1H0V0Zm14.817 3.113a.5.5 0 0 1 .07.704l-4.5 5.5a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61 4.15-5.073a.5.5 0 0 1 .704-.07Z" />
                            </svg>
                        </div>
                    </div>
            
                    <div class="col">
                        <h5 class="text-center">Analysis</h5>
                    </div>
            
                </div>
            
                <!--Icon 4-->
                <div class="feature col">
            
                    <div class="col d-flex justify-content-center">
                        <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3 mt-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-journal-code"
                                viewBox="0 0 16 16">
                                <path d="M8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4z" />
                                <path
                                    d="M0 4a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V6a2 2 0 0 1-2-2H3z" />
                            </svg>
                        </div>
                    </div>
            
                    <div class="col">
                        <h5 class="text-center">Earnings</h5>
                    </div>
            
                </div>
            
            </div>

            <div class="container text-center mt-5">
                <button type="button" class="btn btn-primary mx-3 px-4 rounded-4">Sign Up</button>
                <button type="button" class="btn btn-primary mx-3 px-4 rounded-4">Sign In</button>
            </div>
        </div>
    </div>
</section>

<!--cloud section -->
<section id="cloud section">
        <div class="container-fluid p-5 bg-white">
            <div class="container-xl">
                <div class="row p-5 g-4" style="width: 1600; height:780;">

                    <div class="col-lg-6 d-flex flex-column justify-content-center pt-4">
                        <h1 class="fw-bold text-black">Unlock boundless creative potential </h1>
                        <h2 class="fw-bold text-black mt-3">Work Station </h2>
                        <p class="fw-bold text-black ">Download the work station on desktop and publish the <br> content seamlessly</p>
                        <p><a href="#" class="btn btn-dark rounded-5 px-4 mb-5 p-2">Download</a></p>
                    </div>

                    <div class="col-lg-6 d-flex flex-column justify-content-center rounded-3 " style="width: 600px; height: 650px; align-items: center;">
                        <div class="row row-cols-sm-3 g-5" style="width: 500px; height: 600px; align-items: center; justify-content: center;">

                            <div class="col" style="width: 400px; height: 600px;">
                                <div class="card rounded-4 py-5"  style="width: 500px; height: 500px; background: linear-gradient(#9063EE,#466B7F);">
                                    <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1700038455/Creative-hub/Lovepik_com-401700114-cloud-computing_sdcfhu.png" alt="logo" class="rounded-3 img-fluid">
                                </div>
                            </div>

                        </div>


                    </div>

                </div>
            </div>
        </div>

</section>
<!-- End cloud -->

<!--community section -->
<section id="community section">
    <div class="container-xl p-5  mb-5 bg-body-secondary rounded-4">

            <div class="container bg-body-secondary p-5 text-center ">
                <h2 class="text-body-emphasis mt-5 mb-5">See what others are building <br>with hub</h2>
                <button class="btn btn-dark px-4 mb-5 p-2 rounded-5" type="button">
                    Join the Community
                </button>
            </div>

    </div>
</section>
 <!--End community -->
 <app-app-footer></app-app-footer>