<app-app-header></app-app-header>
<!--Landing Page -->
 <section id="landing page">
    <div class="container-fluid p-5 " style="background-image: url(https://res.cloudinary.com/dpp8aspqs/image/upload/v1735367901/e8899300-79ae-4c76-b094-1cd0ee32755e_xocgop.jpg);  background-size: cover;">

        <div class="container mt-5 p-5" style=" -webkit-backdrop-filter: blur(5px);backdrop-filter: blur(5px);" >

        <div class="row p-5" style="width: 1600; height:780; margin-top: 40px; margin-bottom: 40px;">
            <div class="col justify-content-center pt-5 mt-5">
                <h1 class="text-center  fw-bold p-3 text-white">Design, Develop,<br>Test & Publish</h1>
                <p class=" text-center justify-content-md-center text-white fw-bold fs-5">Developers, build with a purpose</p>
            </div>
        </div>
    </div>
    </div>
</section><!-- End landing -->


<!--publisher section -->
<section id="publisher section">
    <div class="container-fluid p-5">
        <div class="flex-md-equal w-100 my-md-3 ps-md-3">
            <h3 class=" fw-bold text-center text-white mt-5">Create your own unique experience and<br> Publish your project on course library</h3>
        </div>

        <div class="container mt-5 mb-5 bg-body-secondary rounded-4" style="width: 1000px; height: 500px; padding: 0;">
            <div class="col bg-dark rounded-4" style=" width: 100%; height: 100%; border: 1px solid transparent; transition: box-shadow 0.3s ease-in-out, border 0.3s ease-in-out;  overflow: hidden; padding: 0;"
            onmouseover="this.style.boxShadow='0 0 10px 5px rgba(0, 149, 255, 0.7)'; this.style.border='1px solid rgba(0, 0, 255, 0.7)';"
            onmouseout="this.style.boxShadow='0 0 10px 5px rgba(0, 149, 255, 0)'; this.style.border='1px solid transparent'; ">
                <video controls autoplay loop muted  style="width: 100%; height: 100%; object-fit: cover; border-radius: inherit;" src="https://res.cloudinary.com/dpp8aspqs/video/upload/v1729659614/UNCHARTED__The_Lost_Legacy_-_Launch_Trailer___PS4_x8quss.mp4" type="video/mp4">Your browser does not support the video tag.</video>
            </div>

            
        </div>

    </div>
</section>

<!--cloud section -->
<section id="cloud section">
        <div class="container-fluid p-5" style="background-image: url(https://res.cloudinary.com/dpp8aspqs/image/upload/v1735368346/pngtree-abstract-texture-vibrant-gradient-watercolor-background-in-pink-violet-and-blue-image_13887176_ntzerz.png);  background-size: cover;">
            <div class="container mt-5 mb-5 " style=" -webkit-backdrop-filter: blur(5px);backdrop-filter: blur(5px);">
                <div class="row p-5 g-4" style="width: 1600; height:780;">

                    <div class="col-lg-6 d-flex flex-column justify-content-center pt-4">
                        <h1 class="fw-bold text-white">Unlock boundless creative potential </h1>
                        <h2 class="fw-bold text-white mt-3">Work Station </h2>
                        <p class="fw-bold text-white ">Download the work station on desktop and publish the <br> content seamlessly</p>
                        <p><a href="#" class="btn btn-dark rounded-5 px-4 mb-5 p-2">Download</a></p>
                    </div>

                    <div class="col-lg-6 d-flex flex-column justify-content-center rounded-3 " style="width: 600px; height: 650px; align-items: center;">
                        <div class="row row-cols-sm-3 g-5" style="width: 500px; height: 600px; align-items: center; justify-content: center;">

                            <div class="col" style="width: 400px; height: 600px;">
                                <div class="card rounded-4 py-5"  style="width: 500px; height: 500px; background: linear-gradient(#9063EE,#466B7F);">
                                    <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1700038455/Creative-hub/Lovepik_com-401700114-cloud-computing_sdcfhu.png" alt="logo" class="rounded-3 img-fluid">
                                </div>
                            </div>

                        </div>


                    </div>

                </div>
            </div>
        </div>

</section>
<!-- End cloud -->

<!--community section -->
<section id="community section">
    <div class="container-fluid p-5" style="background-image: url(https://res.cloudinary.com/dpp8aspqs/image/upload/v1735368346/pngtree-modern-design-vibrant-violet-fluid-space-screen-with-rainbow-texture-image_13913957_lhc2ah.png);  background-size: cover;">
        <div class="container mt-5 mb-5 p-5 text-center" style=" -webkit-backdrop-filter: blur(5px);backdrop-filter: blur(5px);">

                <h2 class=" text-white mt-5 mb-5">See what others are building <br>with hub</h2>
                <button class="btn btn-dark px-4 mb-5 p-2 rounded-5" type="button"> Join the Community</button>
            </div>

    </div>
</section>
 <!--End community -->
 <app-app-footer></app-app-footer>