<div style="display: flex; align-items: center; gap: 5px; text-decoration: none;  color: inherit;">
  <i class="bi bi-arrow-left" style="font-size: 2rem; cursor: pointer;" (click)="goToDashboard()"></i>
  <p style="margin: 0;">Back</p>
</div>









<!-- Button trigger modal -->
<div class="row d-flex justify-content-center align-items-center mb-3" style="margin-top: 50px;">
  <div class="col-10">
    <p style="margin-left: 40px; font-size: 18px;">Companies</p>
  </div>

  <div class="col-2 text-end">
    <button class="btn btn-primary btn-sm px-3 d-flex align-items-center justify-content-center rounded-3" style="font-size: 14px; " (click)="goToCompanyPost()"> <i class="bi bi-plus me-2" style="font-size: 1rem;"></i><span style="margin-right: 10px; font-size: 14px;">Add New</span> </button>
  </div>
</div>






<div class="container" *ngIf="companies.length > 0">
  <table class="table mt-5" style=" border-collapse: collapse; border: 1px solid #ddd;">
    <thead style="border: 1px solid; font-size: 14px;">
      <tr style="border: 1px solid;">
        <th style="border: 1px solid; width: 3%;">S.No</th>
        <th style="border: 1px solid; width: 3%;">Company ID</th>
        <th style="border: 1px solid; width: 5%;">Company Logo</th>
        <th style="border: 1px solid; width: 10%;">Company Name</th>
        <th style="border: 1px solid; width: 40%;">Company Description</th>
        <th style="border: 1px solid; width: 5%;">Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr style="border: 1px solid;" *ngFor="let company of companies; let i = index">
        <td style="border: 1px solid; text-align: center; ">{{ i + 1 }}</td>

        <td style="border: 1px solid; text-align: center;">{{company.companyDetails.companyId}}</td>

        <td style="border: 1px solid; text-align: center;">
          <div *ngIf="isImage(company.companyDetails.companyLogo.url)">
              <img [src]="company.companyDetails.companyLogo.url" alt="Project Image" width="100px" height="auto">
          </div>
        </td>

        <td style="border: 1px solid; text-align: center;">{{company.companyDetails.companyName}}</td>
        <td style="border: 1px solid; text-align: left;" [innerHTML]="company.companyDetails.sanitizedCompanyDescription"></td>
        <td style="border: 1px solid;">
          <div style=" display: flex; justify-content: space-around;">
            <button class="btn btn-sm btn-warning" (click)="goToCompanyEdit(company)">Edit</button>
            <button class="btn btn-sm btn-info" (click)="goToCompanyDetails(company)">View</button>
            <button class="btn btn-sm btn-danger"  (click)="deleteCompanyById(company._id!, company.companyDetails.companyLogo.fileName)">Delete</button>
          </div>
        </td>

      </tr>
    </tbody>

  </table>
</div>



<div *ngIf="companies.length == 0">
<div class="container d-flex justify-content-center align-items-center">
  <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1716276008/No_data-amico_zhoryt.svg"
    style="height: 600px; width: 600px;">
</div>
</div>
