
<div class="container p-3 mt-5 rounded-5">
  <!-- profile -->
  <div class="card  bg-body-secondary rounded-5">
      <div class="card-body ">
          <div class="row   justify-content-center">

              <!-- Your profile body goes here -->
              <div class="col-4 p-5  bg-info  d-flex align-items-center justify-content-center">

                  <div class="card-profile-body bg-dark p-3 rounded-4 d-flex align-items-center justify-content-center" style="height: 350px; width: 300px;">
                    <div class="profile-avatar bg-warning rounded-4">
                      <img  src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1737957959/profie_images_j53njq.png" alt="Avatar Image" width="270" height="320">
                    </div>
                  </div>

              </div>

              <!-- Content for the second column -->
              <div class="col-4 bg-warning p-5 ">
                  <div class="card-profile-body">
                      <h4 style="font-size: 14px">Name</h4>
                      <p style="font-size: 14px">3D Designer | location</p>
                      <h4 style="font-size: 14px">Bio</h4>
                      <p style="font-size: 14px">I am my bio</p>
                  </div>
              </div>

              <!-- Content for the third column -->
              <div class="col-4 bg-danger p-5">
                  <div class="contact-details">
                      <h6 style="font-size: 14px">Preferred work place</h6>
                      <button class="btn btn-outline-secondary rounded-5 mb-3" disabled style="font-size: 14px">Open to Relocate</button>
                      <h6 style="font-size: 14px">Contact me</h6>
                      <p style="font-size: 14px">(+91)-9876543210</p>
                      <div class="social-icons mb-5">
                          <h6 style="font-size: 14px">Social Links</h6>
                          <a href="#"><i class="bi bi-linkedin me-3" style="font-size: 25px; color:black;"></i></a>
                          <a href="#"><i class="bi bi-instagram me-3" style="font-size: 25px; color:black;"></i></a>
                          <a href="#"><i class="bi bi-behance" style="font-size: 25px; color:black;"></i></a>
                      </div>
                      <button class="btn btn-success rounded-4 mt-4" style="font-size: 14px">Download Resume</button>
                  </div>
              </div>

          </div>


      </div>
  </div>




</div>


