<div class="container-fluid bg-body-secondary p-5 mt-5">

  <div class="card">
    <div class="card-body">
      <div class="col position-relative d-flex align-items-center justify-content-center" style="background-image: url('https://res.cloudinary.com/dpp8aspqs/image/upload/v1740547685/gradient-FZRCWTCT_d2bqiv.jpg');
               background-size: cover;
               background-position: center;
               height: 15vh;
               width: 100%;
               border-radius: 10px;">

        <!-- Profile Section (Left-Aligned on Top of Background) -->
        <div class="profile text-center p-4 rounded position-absolute top-50 start-0 translate-middle-y "
          style="margin-left: 30px;  border-radius: 10px; margin-top:80px; margin-left: 30px;">
          <div class="profile-avatar rounded-circle mb-3">
            <img id="avatarImage" [src]="profileDetails.profileDetails.profilePicture.url" alt="Avatar" class="img-fluid">
          </div>

        </div>
      </div>

      <div class="row p-5 mt-5 g-4 text-dark d-flex align-items-start justify-content-start text-center" >

        <!-- Designation Section -->


        <div class="col-auto d-flex flex-column mx-3">
          <p class="fw-semibold mb-0 text-primary">Recruiter Name</p>
          <p class="fw-semibold mb-0 text-start">Designation</p>
        </div>


        <div class="col-auto d-flex flex-column mx-3">
          <p class="fw-semibold mb-0 text-primary text-start">Location</p>
          <p class="fw-semibold mb-0 text-start">Hyderabad</p>
        </div>

        <!-- Job Posts Card -->
        <div class="col-auto mx-3">
          <div class="card rounded-5 shadow-sm" style="width: 10rem; height: auto;">
            <div class="card-body d-flex align-items-center justify-content-center p-2">

              <!-- Circular Icon with Outline -->
              <div class="rounded-circle d-flex align-items-center justify-content-center border border-primary"
                   style="width: 40px; height: 40px; background-color: transparent; margin-left: -20px;">
                <i class="bi bi-briefcase text-primary" style="font-size: 1.2rem;"></i>
              </div>

              <!-- Number & Text Section -->
              <div class="d-flex flex-column text-start ms-3">
                <p class="fw-semibold mb-0" style="font-size: 14px;">10</p>
                <p class="fw-light mb-0" style="font-size: 14px;">Job Posts</p>
              </div>

            </div>
          </div>
        </div>


        <hr>

      </div>

      <div class="col px-5" style="margin-top: -40px;">

        <h6>Personal Bio</h6>
        <p [innerHTML]="profileDetails.profileDetails.bioDescription"></p>
      </div>


      <div class="row px-5 g-4">
        <hr>
        <div class="col-4">
          <h6>Personal Info</h6>
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">First Name</th>
                <td>{{profileDetails.profileDetails.firstName}}</td>
              </tr>
              <tr>
                <th scope="row">Last Name</th>
                <td>{{profileDetails.profileDetails.lastName}}</td>
              </tr>
              <tr>
                <th scope="row">User Name</th>
                <td>{{profileDetails.profileDetails.userName}}</td>
              </tr>

              <tr>
                <th scope="row">Email</th>
                <td>{{profileDetails.profileDetails.email}}</td>
              </tr>

              <tr>
                <th scope="row">Gender</th>
                <td>{{profileDetails.profileDetails.gender}}</td>
              </tr>

              <tr>
                <th scope="row">Date of birth</th>
                <td>{{profileDetails.profileDetails.dateOfBirth | date :'dd-MM-YYYY'}}</td>
              </tr>

            </tbody>
          </table>
        </div>



        <div class="col-4">
          <h6>Professional Info</h6>
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">Company Name</th>
                <td>{{profileDetails.profileDetails.firstName}}</td>
              </tr>
              <tr>
                <th scope="row">Company designation</th>
                <td>{{profileDetails.profileDetails.lastName}}</td>
              </tr>
              <tr>
                <th scope="row">Work experience</th>
                <td>{{profileDetails.profileDetails.userName}}</td>
              </tr>

              <tr>
                <th scope="row">Employee code</th>
                <td>{{profileDetails.profileDetails.email}}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="col-4">
          <h6>Contact Info</h6>
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">Phone Number</th>
                <td>{{profileDetails.profileDetails.phoneNumber}}</td>
              </tr>
              <tr>
                <th scope="row">Email</th>
                <td>{{profileDetails.profileDetails.email}}</td>
              </tr>
              <tr>
                <th scope="row">Location</th>
                <td>{{profileDetails.profileDetails.city}}, {{profileDetails.profileDetails.state}}, {{profileDetails.profileDetails.country}}, {{profileDetails.profileDetails.pincode}}</td>
              </tr>

            </tbody>
          </table>
        </div>


      </div>

    </div>
  </div>
  <!-- Banner Section -->





</div>


