<div class="container-fluid  d-flex justify-content-center align-items-center vh-100" style="background: #11131c;">

  <div class="col-md-4">

    <div *ngIf="!isLoading">

      <div class="card text-center" style="border:  1px solid rgba(0, 0, 255, 0.7); box-shadow: 0 0 10px 5px rgba(0, 149, 255, 0.7);  border-radius: 20px; -webkit-backdrop-filter: blur(15px);backdrop-filter: blur(15px); background: radial-gradient(circle, rgba(255, 255, 255, 0.274), #11131c); ">



        <div class="card-body p-5" style="border-radius: 15px;">

          <!-- Step 1: Basic User Information -->
          <div *ngIf="step === 1">
            <form [formGroup]="registrationForm">


              <!--First Name Input -->
              <div class="form-group row align-items-center mt-3">
                <input [ngClass]="{'is-invalid': registrationForm.get('firstName')?.invalid && (registrationForm.get('firstName')?.touched || registrationForm.get('firstName')?.dirty)}" placeholder="First Name" id="firstName" formControlName="firstName" type="text" class="form-control" style="height: 45px; border-radius: 10px;" />
                <div *ngIf="registrationForm.get('firstName')?.touched">
                  <small *ngIf="registrationForm.get('firstName')?.errors?.['required']" class="text-danger" style="font-size: 13px;">Fisrt Name is required.</small>
                  <small *ngIf="registrationForm.get('firstName')?.errors?.['pattern']" class="text-danger">Invalid format. Must start with a capital letter.</small>
                </div>
              </div>


              <!-- Last Name Input -->
              <div class="form-group row align-items-center mt-3">
                <input [ngClass]="{'is-invalid': registrationForm.get('lastName')?.invalid && (registrationForm.get('lastName')?.touched || registrationForm.get('lastName')?.dirty)}" placeholder="Last Name" id="lastName" formControlName="lastName" type="text" class="form-control" style="height: 45px; border-radius: 10px;" />
                <div *ngIf="registrationForm.get('lastName')?.touched">
                  <small *ngIf="registrationForm.get('lastName')?.errors?.['required']" class="text-danger" style="font-size: 13px;">Last Name is required.</small>
                  <small *ngIf="registrationForm.get('lastName')?.errors?.['pattern']" class="text-danger">Invalid format. Must start with a capital letter.</small>
                </div>
              </div>

              <!-- Username Input -->
              <!-- This input field allows the user to choose a username. It has validation to ensure the username follows the correct format -->
              <div class="form-group row align-items-center mt-3">
                <input [ngClass]="{'is-invalid': registrationForm.get('userName')?.invalid && registrationForm.get('userName')?.touched}" placeholder="Username" id="userName" formControlName="userName" type="text" class="form-control" style="height: 45px; border-radius: 10px;" />
                <div *ngIf="registrationForm.get('userName')?.invalid && registrationForm.get('userName')?.touched">
                  <small *ngIf="registrationForm.get('userName')?.errors?.['required']" class="text-danger" style="font-size: 13px;">Username is required.</small>
                  <small *ngIf="registrationForm.get('userName')?.errors?.['pattern']" class="text-danger">Invalid Username format.</small>
                </div>
              </div>

              <!-- Email Input -->
              <!-- This input field allows the user to enter their email address. It has validation to ensure a valid email format -->
              <div class="form-group row align-items-center mt-3">
                <input [ngClass]="{'is-invalid': registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched}" placeholder="Email Address" id="email" formControlName="email" type="email" class="form-control"  style="height: 45px; border-radius: 10px;" />
                <div *ngIf="registrationForm.get('email')?.touched">
                  <small *ngIf="registrationForm.get('email')?.errors?.['required']" class="text-danger" style="font-size: 13px;">Email is required.</small>
                  <small *ngIf="registrationForm.get('email')?.errors?.['pattern']" class="text-danger">Invalid Email format.</small>
                </div>
              </div>

              <!-- Navigation Buttons -->
              <!-- These buttons allow the user to navigate to the next or previous step in the form -->
              <div class="row justify-content-between mt-3">
                <div class="col-auto">
                  <button (click)="previous()" class="btn btn-secondary" type="button">Previous</button>
                </div>
                <div class="col-auto">
                  <button (click)="next()" class="btn btn-success" [disabled]="!isStepValid()" type="button">Next</button>
                </div>
              </div>
            </form>
          </div>

          <!-- Step 2: Password and Confirmation -->
          <div *ngIf="step === 2" >
            <form [formGroup]="registrationForm" (ngSubmit)="submit()">
              <!-- Password Input -->
              <div class="form-group row align-items-center mt-3">
                <input  [ngClass]="{'is-invalid': registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched}" placeholder="Create Password" id="password" formControlName="password" type="password" class="form-control" style="height: 45px; border-radius: 10px;" />
                <div *ngIf="registrationForm.get('password')?.touched">
                  <small *ngIf="registrationForm.get('password')?.errors?.['required']" class="text-danger" style="font-size: 13px;">Password is required.</small>
                  <small *ngIf="registrationForm.get('password')?.errors?.['pattern']" class="text-danger">Invalid Password format.</small>
                </div>
              </div>

              <!-- Confirm Password Input -->
              <div class="form-group row align-items-center mt-3">
                <input [ngClass]="{'is-invalid': registrationForm.get('confirmPassword')?.invalid && registrationForm.get('confirmPassword')?.touched}" placeholder="Confirm Password" id="confirmPassword" formControlName="confirmPassword" type="password" class="form-control" style="height: 45px; border-radius: 10px;" />
                <small *ngIf="registrationForm.get('confirmPassword')?.touched && registrationForm.get('confirmPassword')?.hasError('required')" class="text-danger" style="font-size: 13px;">Confirm Password is required.</small>
                <small *ngIf="registrationForm.hasError('mismatch') && registrationForm.get('confirmPassword')?.touched" class="text-danger">Passwords do not match.</small>
              </div>

              <!-- Navigation Buttons -->
              <div class="row justify-content-between mt-3">
                <div class="col-auto">
                  <button (click)="previous()" class="btn btn-secondary">Previous</button>
                </div>
                <div class="col-auto">
                  <button type="submit" class="btn btn-primary" [disabled]="registrationForm.invalid">Submit</button>
                </div>
              </div>


            </form>
          </div>


        </div>



  <div class="row d-flex justify-content-center align-items-center spinner-wrapper" *ngIf="isLoading">
    <div class="text-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="mt-3">
        <p *ngIf="registrationSuccess">Redirecting you to cofirmation page</p>
        <p *ngIf="!registrationSuccess">Redirecting to signup...</p>
      </div>
    </div>
  </div>

      </div>
    </div>

  </div>

</div>










